
/* Changed */
@font-face {
  font-family:'NotoSansKR'; font-style:normal; font-weight:200;
  src: url('/resources/fonts/notokr-light.eot'),
  url('/resources/fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
  url('/resources/fonts/notokr-light.woff') format('woff'),
  url('/resources/fonts/notokr-light.otf') format('opentype');
}
@font-face {
  font-family:'NotoSansKR'; font-style:normal; font-weight:400;
  src: url('/resources/fonts/notokr-regular.eot'),
  url('/resources/fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
  url('/resources/fonts/notokr-regular.woff') format('woff'),
  url('/resources/fonts/notokr-regular.otf') format('opentype');
}
@font-face {
  font-family:'NotoSansKR'; font-style:normal; font-weight:500;
  src: url('/resources/fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
  url('/resources/fonts/notokr-medium.woff') format('woff'),
  url('/resources/fonts/notokr-medium.otf') format('opentype');
}
@font-face {
  font-family:'NotoSansKR'; font-style:normal; font-weight:700;
  src: url('/resources/fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
  url('/resources/fonts/notokr-bold.woff') format('woff'),
  url('/resources/fonts/notokr-bold.otf') format('opentype');
}