@font-face {
	font-family: "iconic";
	src: url('../font/iconic.eot');
	src: url('../font/iconic.eot?#iefix') format('eot'),
		url('../font/iconic.woff2') format('woff2'),
		url('../font/iconic.woff') format('woff'),
		url('../font/iconic.ttf') format('truetype'),
		url('../font/iconic.svg#iconic') format('svg');
}

.icon:before {
	font-family: "iconic";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-home:before {
	content: "\E001";
}

.icon-home1:before {
	content: "\E002";
}

.icon-library:before {
	content: "\E003";
}

.icon-office:before {
	content: "\E004";
}

.icon-pencil:before {
	content: "\E005";
}

.icon-price-tag:before {
	content: "\E006";
}

.icon-profile:before {
	content: "\E007";
}

.icon-quill:before {
	content: "\E008";
}
