@charset "utf-8";

body::before {
  content:'';
  position: fixed;
  top: 0; right: 0; bottom: 0; left:0;
  background: #000;
  opacity: 0;
  transition: opacity .8s;
  z-index: -1;
}
body.dimmed {
  overflow: hidden;

  &::before {
    content: '';
    position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: #000; opacity: .8; z-index: 0;
  }
}

header {
  border-bottom: 2px solid $color-red;
  background-color: $color-dark;

  .logo { padding: 12px 0; text-align: center; }
  .logo img { height: 16px; }
  .btn-sitemap {
    position: absolute; left: 0; top: 0;
    margin: 12px 0 0 15px;
    @include retina-sprite($sp-btn-sitemap-group);
  }
  .btn-search {
    position: absolute; top: 0; right: 0;
    margin: 12px 15px;
    @include retina-sprite($sp-btn-search-group);
  }
  .btn-zin {
    position: absolute; top: 0; right: 0;
    img { height: 40px }
  }

}

.menu-sitemap {
  overflow-y: auto; position: fixed; top: 0; left: 0; bottom: 0; right: 0; transform: translateX(-100%);
  transition: transform .6s ease;

  &.open { transform: translateX(0)}

  .title { padding: 6px 45px 5px; @include font(1.167em, 500, $color-basic); border-bottom: 2px solid $color-red; background-color: $color-dark; }

  .search {
    position: relative;

    input { box-sizing:border-box; width: 100%; height: 2.1538em; line-height: 1.2; margin: 0; padding: .25em 2.4em .25em .75em; border: none; border-radius: 1em; @include font-noto(13px, 400); }
    input::placeholder { color: #e5e5e5; }
    .search-submit { position: absolute; top: 0; right:0; margin: 5px 8px; @include retina-sprite($sp-btn-search-group); }
  }

  .close { position: absolute; top: 0; right: 0; margin: 12px; @include retina-sprite($sp-btn-sitemap-close-group); }
  .part h3 { position: relative; padding: 10px 15px 11px; background-color: $color-line-light; border-bottom: 1px solid $color-basic; @include font(1.0833em, 500, $color-dark); cursor: pointer; }
  .part h3::after { content:''; position: absolute; top: 0; right: 0; margin: 15px; @include retina-sprite($sp-sitemap-plus-group); }
  .part h3.open::after { @include retina-sprite($sp-sitemap-minus-group); }
  .part h3.open ~ ul { display: block; }
  .part ul { display: none; overflow: hidden; }
  .part ul > li { padding: 7px 15px 8px; background-color: $color-background-gray; border-bottom: 1px solid $color-basic; }
  .part ul > li a::before { content:''; display: inline-block; margin-right: 5px; @include retina-sprite($sp-sitemap-arrow-group); vertical-align: middle; }
  .part ul > li a { display: block; color: $color-gray; }
  .part.link-etc h3 { background-color: #dbdbdb; text-align: center; }
  .part.link-etc h3::after { display: none; }
  .part.link-etc h3 a { display: block; color: $color-dark; }
  .part.link-etc h3 a img { height: 15px; }
  .part-sns { padding: 18px 0 52px; background-color: $color-dark; }
  .part-sns ul { text-align: center; }
  .part-sns ul > li { display: inline-block; }
  .part-sns ul > li + li { margin-left: 22px; }
  .part-sns ul > li a { display: block; }
  .part-sns ul > li.fb a { @include retina-sprite($sp-sns-facebook-circle-group) }
  .part-sns ul > li.insta a { @include retina-sprite($sp-sns-instagram-circle-group) }
  .part-sns ul > li.blog a { @include retina-sprite($sp-sns-blog-circle-group) }
  .part-sns ul > li.ytb a { @include retina-sprite($sp-sns-youtube-circle-group) }
}

.sub-top-visual{
  width: 100%; background-color: $color-dark2; background-repeat:no-repeat; background-position:50% 50%; background-size:cover; height:8.33em;

  &.customer { background-image: url(/resources/images/mobile/common/suv_visual_customer01.jpg); }
  &.about-us { background-image: url(/resources/images/mobile/common/suv_visual_about_us01.jpg); }
  &.about-us02 { background-image: url(/resources/images/mobile/common/suv_visual_about_us02.jpg); }
  &.about-us03 { background-image: url(/resources/images/mobile/common/suv_visual_about_us03.jpg); }
  &.about-us04 { background-image: url(/resources/images/mobile/common/suv_visual_about_us04.jpg); }
  &.about-us05 { background-image: url(/resources/images/mobile/common/suv_visual_about_us05.jpg); }
  &.about-us06 { background-image: url(/resources/images/mobile/common/suv_visual_about_us06.jpg); }
  &.investment02 { background-image: url(/resources/images/mobile/common/suv_visual_investment02.jpg); }
  &.investment03 { background-image: url(/resources/images/mobile/common/suv_visual_investment03.jpg); }
  &.investment04 { background-image: url(/resources/images/mobile/common/suv_visual_investment04.jpg); }
  &.career01 { background-image: url(/resources/images/mobile/common/suv_visual_careers01.jpg); }
  &.career02 { background-image: url(/resources/images/mobile/common/suv_visual_career02.jpg); }
  &.career03 { background-image: url(/resources/images/mobile/common/suv_visual_career03.jpg); }
  &.career04 { background-image: url(/resources/images/mobile/common/suv_visual_career04.jpg); }
  &.career05 { background-image: url(/resources/images/mobile/common/suv_visual_career05.jpg); }
  .inner{ display: flex; justify-content: center; align-items: center; height:100%; text-align: center; }

  .sub-title-t{
    position:relative; overflow:hidden; @include font(1.67em, 400, $color-basic);

    &:before{position:absolute; display:block; content:''; width: 50%; height: 1px; background:$color-basic; left:50%; bottom:0; animation-name: left-line;  animation-duration:1s; animation-timing-function: ease-in-out;}
    &:after{position:absolute; display:block; content:''; width: 50%; height: 1px; background:$color-basic; right:50%; bottom:0; animation-name: right-line;  animation-duration:1s; animation-timing-function: ease-in-out;}
  }

  @keyframes left-line {
    0%   {width:1px;}
    100% {width:50%;}
  }

  @keyframes right-line {
    0%   {width:1px;}
    100% {width:50%;}
  }
}

footer {
  .snslink {
    text-align: center;
    background-color: $color-dark;

    li { display: inline-block; padding: 10px 0; }
    li + li { margin-left: 25px; }
    li a { display: block; }
    li.fb a { @include retina-sprite($sp-sns-facebook-group); }
    li.ins a { @include retina-sprite($sp-sns-instagram-group); }
    li.blog a { @include retina-sprite($sp-sns-blog-group); }
    li.yt a { @include retina-sprite($sp-sns-youtube-group); }
  }

  .sitelink {
    .btn-sitelink { display: block; padding: 5px 0; background-color: $color-gray; text-align: center; @include font(.9em, 500); }
    .list-sitelink { display: none; }
  }

  .menu-bottom {
    display: table; table-layout: fixed;
    width: 100%;

    a { display: table-cell; padding: 7px 0; background-color: $color-dark2; border-bottom: 1px solid $color-gray; text-align: center; @include font(11px, 400, $color-line-light); }
    a + a { border-left: 1px solid $color-gray; }
  }

  .footer {
    background-color: $color-dark2;
    text-align: center;

    .etclink {
      display: table; width: 100%; padding: 20px 0;
      
      a { position: relative; display: table-cell; @include font(.75em, 400, $color-line-light); }
      a + a::before { content:''; position: absolute; left: -1px; top: 2px; width: 1px; height: 1em; background-color: #a0a0a0; }
    }

    .company-info {
      overflow: hidden;

      dt, dd {
        display: inline-block;
        @include font(.75em, 200, $color-area-dark);
        line-height: 1.875;
      }
    }
    p {
      display: inline-block;
      @include font(.75em, 200, $color-area-dark);
      line-height: 1.875;
    }

    h2 { padding: 25px 0 35px; }
    h2 img { height: 1.5em }
  }
}

.inner{ width: 100%;  padding-left: 13px;  padding-right: 13px;
  &:after{content:''; display:block; clear: both;}
  &.type01{border-bottom: 1px solid $color-line-light; padding-bottom:15px;}
  &.type02{padding:0;}
}
.img-wrap{
  img{width: 100%;}
}


.path{position:relative; width: 100%; height: 30px;  z-index: 1; //overflow:hidden;
  .path-wrap{width:50%; float:left;
    >  a{position:relative; width:100%; display:block;  height: 30px; border-bottom: 1px solid $color-line-light;   @include font(1em, 400, $color-dark); background:$color-basic; display:block; padding:7px 13px; float:left;
        &.depth2{border-left:1px solid $color-line-light;}
        &:after{content:''; display:block; position:absolute; right:13px; top:10px;  @include retina-sprite($sp-path-off-group); }
        &.on{ color:$color-red;
          &:after{ @include retina-sprite($sp-path-on-group);}
        }
      }
    ul{width:50%; position:absolute; top:30px; display:none;
      li{
        a{background:$color-basic; width:100%; height: 30px; @include font(1em, 400, $color-dark); padding:7px 13px; border-bottom: 1px solid $color-line-light;  display:block;}
      }
    }
    &.path-depth2{position:relative;
      ul{position:absolute; left:0; top:100%; width:100%;}
      ul a{border-left:1px solid $color-line-light;}
    }
  }

}
