@charset "utf-8";

body { min-width: 1200px;  }

.hidden{position:absolute; left:-9999px; top:0; overflow:hidden; line-height:0.1%; font-size:0.1%; width:0.1%; height:0.1%;}

.topmenu {
  position: relative; height: 50px; background-color: $color-basic; z-index: 9; text-align: center;

  .inner { @include inner(); }
  .logo {
    display: inline-block;

    a { display: block; margin: 11px 0; }
  }

  .util-sns {
    position: absolute; left: 0; top: 0; padding:13px 30px;

    ul {}
    ul > li { display: inline-block; padding-right:15px; }
    ul > li:first-child a{@include sprite($sp-sns-fb)}
    ul > li:first-child + li a{@include sprite($sp-sns-ins)}
    ul > li:first-child + li + li a{@include sprite($sp-sns-blog)}
    ul > li:first-child + li + li + li a{@include sprite($sp-sns-yt)}
  }

  .util-top {
    position: absolute; right: 0; top: 0; padding:0 30px;

    /*
    ul {float:left; padding-right:20px; }
    ul > li {display: inline-block; padding:0 10px;
      a{color:#727171; vertical-align: top;}
    }
    ul > li:first-child{position:relative;
      ::after{display:block; content:''; clear:both; position: absolute; right:0; top: 5px; width: 1px; height: 10px; background:$color-dark;}
    }
    */

    > a { display: block; float:left; color:#727171; margin-top: 13px; padding:0 15px; font-size: .75em; line-height: 2; }
    .btn-c-center{position:relative;
      &:after {display:block; content:''; clear:both; width: 1px; height:12px; background:#2b2b2b; position:absolute; right:0; top:50%; margin-top:-6px; }
    }
    .btn-global{ padding-left:20px; }
    .btn-global::before { content:''; @include sprite($sp-global); display: inline-block; vertical-align: middle; margin-right: 5px; }
    .btn-search-wrap{color:#727171; margin-left:15px; padding: .875em; position:relative;
      > a { @include sprite($sp-search); }
      .top-search-box{display:none; position:absolute; bottom:-75px; right:0; height: 75px; padding-top:20px; }
      &.on{
        > a {opacity: 0.5;}
        .top-search-box{display:block;}
      }
    }
  }
}

header {

  .menubar {
    position: relative;
    background-color: $color-dark;
    border-bottom: 2px solid $color-red;

    .inner { @include inner(); }
    .menu-main { position: relative; max-width: 1200px; margin: 0 auto -2px; z-index: 8;}
    .menu-main > ul {
    //1차 메뉴
      display: table; width: 100%; padding:0 140px 0 200px; text-align: center;

      > li { display: table-cell; min-width: 60px; padding: 24px 0; border-bottom: 2px solid transparent; }
      > li > a { position: relative; display: block; padding: 0; color: #DEDEDE; font-size: 1.25em; text-align: center; font-weight: 400; vertical-align: top; }
      > li > ul {
      //2차 메뉴
        position: absolute; left: 0; right: 0; top: 100%;
        display: none; table-layout: fixed; width: 100%; padding: 26px 0 32px;
        background-color: #fff; border: 1px solid #eaeaea; border-top-color: #fff;

        > li { display: table-cell; padding-left: 23px; border-left: 1px solid #ededed; vertical-align: top; text-align: left; }
        > li:first-child { border-left: none; }
        > li p { margin-bottom: 7px; }
        > li a { position: relative; display: block; font-size: 15px; line-height: 1.34; color: #666; }
        > li p.head { margin-bottom: 24px; font-size: 19px; color: #555555; font-weight: 500;}
        > li p.head.prd-logo {display:inline-block;
          span {display:inline-block; @include sprite($sp-nav_img01); margin-top:-3px;}
        }
        li.gnb-space01{width: 50%; }
        li.gnb-space02{width: 33%; }
        .division{float:left; width: 33%;}
      }
    }

    // z:in 메뉴 처리
    .menu-main > ul > li:last-child {
      > a { margin-left: 20px; padding-left: 15px; }
      > a:hover, > a:focus { border-bottom-color: transparent; }
      > a:after { content: ''; display: block; clear: both; position: absolute; height: 20px; width: 1px; background: #696969; left: 0; top: 50%; margin-top: -10px; }
    }

    //활성화 처리 - 1차 메뉴
    .menu-main > ul > li.on { border-bottom-color: $color-basic; }
    .menu-main > ul > li.on > a { color: $color-basic; }
    .menu-main > ul > li.on ul { display: table; }

    //활성화 처리 - 2차 메뉴
    .menu-main > ul > li > ul > li:hover p.head,
    .menu-main > ul > li > ul > li:focus p.head{color: $color-light-red; text-decoration: underline;}
    .menu-main > ul > li > ul > li:hover p.head.prd-logo,
    .menu-main > ul > li > ul > li:focus p.head.prd-logo{color: $color-light-red; text-decoration:none; position:relative;
      :after{content:''; display:block; clear:both; width:150px; height: 1px; background: $color-light-red; position:absolute; left:0; bottom:3px;}
      span{ @include sprite($sp-nav_img02) }
    }

    .menu-main > ul > li > ul > li a:hover,
    .menu-main > ul > li > ul > li a:focus { color: #000; }
    .menu-main > ul > li > ul > li a:hover::before,
    .menu-main > ul > li > ul > li a:focus::before { content:'>'; position: absolute; left: -12px; top: 0; color: $color-light-red; }

    .btn-sitemap { position: absolute; left: 0; top: 0; width: 78px; height: 78px; padding: 30px 27px; z-index:1; }
    .btn-sitemap::before {content:''; @include sprite($sp-sitemap); display: inline-block;}
    .menu-sitemap { display: none; }
  }
}

.path {
  background-color: $color-area-light;  border-bottom: 1px solid #d8d8d8;

  .inner { @include inner($pc-width); z-index: 1;}
  .inner::before { content: 'Home'; display: inline-block; color: $color-light-red; font-weight: 700; width:75px; text-align: center;}

  .path-list {
    $path-border-color: #d8d8d8;
    display: inline-block;

    li { position: relative; border-right: 1px solid $path-border-color; background-color: #fff; }
    li > a { display: block; width: 202px; padding: 1em; color: $color-dark; line-height: 1.125; }
    li > a::after { content:''; @include sprite($sp-path-next); position: absolute; top: 50%; right: 1em; margin-top: -7px; }

    > li { float: left; background-color: $color-area-light; }
    > li:first-child { border-left: 1px solid $path-border-color; }
    > li > a::after { @include sprite($sp-path-down); margin-top: -4px; }

    > li > ul { display: none; position: absolute; top: 100%; left: -1px; }
    > li > ul li { border-left: 1px solid $path-border-color; border-bottom: 1px solid $path-border-color; }

    > li > ul > li > ul { display: none; position: absolute; top: -1px; left: 100%; }
    > li > ul > li > ul > li:first-child { border-top: 1px solid $path-border-color; }

    > li > ul > li > ul > li > ul{ display: none; position: absolute; top: -1px; left: 100%; }
    > li > ul > li > ul > li > ul > li:first-child { border-top: 1px solid $path-border-color; }

    ul.last > li > a::after { display: none; }

    /* hover 효과 */
    > li:hover > ul,
    > li.on > ul { border-top: 1px solid $path-border-color; }
    li:hover > ul,
    li.on > ul { display: block; }
    li:hover > a,
    li.on > a { color: $color-light-red; }
    li > ul > li:hover > a::after,
    li > ul > li.on> a::after { @include sprite($sp-path-next-on); }
  }
}

#container{padding-bottom:100px;
  &:after{content:''; display:block; clear: both;}
}

#sitemap {
  display: none;
  position: absolute; top: 50px; left: 0; right: 0; bottom: 0; min-width: 1200px; z-index: 8;
  &:before { content:''; position: fixed; top:0; left:0; width: 100%; height: 100%; background-color: #000; opacity: .8; }

  .close { position: absolute; top: 0; left: 0; width: 80px; height: 80px; padding: 25px; overflow: hidden; }
  .close::before { content:''; display: inline-block; width: 30px; height: 30px; @include sprite($sp-sitemap-close); }
  .title { position: relative; padding: 25px 0; text-align: center; font-size: 1.25em; color: #fff; }
  .search { overflow: hidden; position: absolute; top: 0; left: 50%; width: 320px; margin: 24px 0; margin-left: 280px; border-radius: 15px; }
  .search a{position:absolute; right:0; top:0;}
  .search a::after { content:''; position: absolute; right:10px; top:6px; display: inline-block; width: 18px; height: 18px; @include sprite($sp-search); }
  .search input { padding: 6px 14px; border: none; }
  .box-sitemap {
    position: relative; display: block;  overflow:hidden; width: 1200px; margin: auto; padding: 32px 50px 0;  background-color: #fff; border-radius: 5px;

    .part {
      display: block; vertical-align: top; float:left; width: 20%; height: 770px; margin-bottom:15px;

      h3 { margin-bottom: 25px; color: #000; font-weight: 500; font-size:20px;}
      h3.etc,h3.link{margin-top:65px;  }
      a { color: $color-gray; font-weight: 200; position:relative; font-size: 15px; }
      a::before { content:''; display: inline-block; width: 2px; height: 2px; margin-top: -4px; margin-right: 5px; background-color: $color-gray; vertical-align: middle; }

      > ul > li { margin-bottom: 25px; }
      > ul > li.link-etc { margin-bottom: 0; }
      > ul > li > a { display: block; margin-bottom: 10px; color: $color-dark2; font-weight: 500; position:relative; font-size: 16px;
       //img{margin-bottom:5px;}
        span.ziin{display:inline-block; margin-bottom:4px; @include sprite($sp-sitemap-ziin); padding-bottom:2px; height: 16px; }
      }
      > ul > li > a >li > a{font-size:15px;}
      > ul > li > a::before { display:none;   }
      > ul  li  a:hover::before,
      > ul  li  a:focus::before { background:#fff; text-decoration:  no-underline ; }
      > ul  li  a:hover,
      > ul  li  a:focus{color: $color-light-red; text-decoration: underline;
        span.ziin{ @include sprite($sp-sitemap-ziin02); border-bottom: 1px solid $color-red; height: 16px; }
      }
      > ul  li  a:hover::after,
      > ul  li  a:focus::after { display:block;  content:'>'; position: absolute; left: -5px; top: 0; color: $color-light-red; margin-right:5px;  text-decoration: no-underline ; }
      > ul > li > a:hover::after,
      > ul > li > a:focus::after { left: -12px; }
      > ul > li > ul > li { margin-bottom: 1px;  }
    }
    .part + .part { padding-left: 2.73%; border-left: 1px solid #e0e1e3; }

    .part-sns{width: 100%; clear:both; border-top: 1px solid #e0e1e3;
      ul{overflow:hidden; text-align: center; width: 100%;
        li{display:inline-block; width:26px; margin:12px;
          a{display:block;}
        }
        .fb a{ @include sprite($sp-sns-fb-b);}
        .insta a{ @include sprite($sp-sns-ins-b);}
        .blog a{ @include sprite($sp-sns-blog-b);}
        .ytb a{ @include sprite($sp-sns-yt-b);}
      }

    }
  }
}

footer {position:relative;

  .menu-bottom {
    background-color: #dedede;

    .inner { @include inner($width: $footer-width); }
    ul { display: table; margin: 0 auto; padding: 22px 0; }
    ul > li { display: table-cell; padding: 0 15px; border-left: 1px solid #c6c6c6; height: 15px;
      &:first-child{border-left:none;}
    }
    ul > li a { display: block; padding: 0 10px; color: #333; font-size: 14px;  height: 15px; line-height: 15px;}
    ul > li a:hover { text-decoration: underline; }
    ul > li:first-child { padding-left: 0; }
    ul > li:first-child a { padding-left: 0; }
    ul > li:last-child { padding-right: 0; }
    ul > li:last-child a { padding-right: 0; }}
  }
  .footer {
    background-color: $color-dark;  color: #dedede;  height: 180px; padding-top:25px; box-sizing:border-box;

    .inner { @include inner($width: $footer-width);
    .company-info{
      padding-bottom: 5px;
      dt{display:inline-block; font-size:14px;  padding-left:10px; border-left: 1px solid #fff;  height: 0.875em; line-height: 1;
        &:first-child{padding-left:0; border-left:0;}
      }
      dd{display:inline-block; padding-right:8px; font-size:14px;  height: 0.875em; line-height:1;  }
    }
      p small{font-size:14px;}
      h2{padding-top:10px}


  }
}

 .sub-top-visual{
  @extend %sub-visual;
   .inner{ @include inner($pc-width); text-align: center;}
   .sub-title-t{position:relative; overflow:hidden; height:138px ; text-align: center; font-size:40px; color:$color-basic; padding-top:85px; font-weight:400; display:inline-block; /*border-bottom: 1px solid $color-basic;*/
    &:before{position:absolute; display:block; content:''; width: 50%; height: 1px; background:$color-basic; left:50%; bottom:0; animation-name: left-line;  animation-duration:1s; animation-timing-function: ease-in-out;}
    &:after{position:absolute; display:block; content:''; width: 50%; height: 1px; background:$color-basic; right:50%; bottom:0; animation-name: right-line;  animation-duration:1s; animation-timing-function: ease-in-out;}
    img{padding-bottom:8px;}
   }
   p{font-size: 26px; color:$color-basic; text-align: center; padding-top:15px;}
 }

@keyframes left-line {
  0%   {width:1px;}
  100% {width:50%;}
}

@keyframes right-line {
  0%   {width:1px;}
  100% {width:50%;}
}

.sub-top-visual.about-us{background-image:url("/resources/images/pc/common/sub_visual01.jpg");}
.sub-top-visual.design-center{background-image:url("/resources/images/pc/common/sub_visual05.jpg");}
.sub-top-visual.pr-room{background-image:url("/resources/images/pc/common/sub_visual02.jpg");}
.sub-top-visual.career01{background-image:url("/resources/images/pc/common/sub_visual_career01.jpg");}
.sub-top-visual.career02{background-image:url("/resources/images/pc/common/sub_visual_career02.jpg");}
.sub-top-visual.career03{background-image:url("/resources/images/pc/common/sub_visual_career03.jpg");}
.sub-top-visual.career04{background-image:url("/resources/images/pc/common/sub_visual_career04.jpg");}
.sub-top-visual.career05{background-image:url("/resources/images/pc/common/sub_visual_career05.jpg");}
.sub-top-visual.customers{background-image:url("/resources/images/pc/common/sub_visual_customers.jpg");}
.sub-top-visual.lgway{background-image:url("/resources/images/pc/common/sub_visual_lgway.jpg");}
.sub-top-visual.rnd{background-image:url("/resources/images/pc/common/sub_visual_rnd.jpg");}
.sub-top-visual.investment01{background-image:url("/resources/images/pc/common/sub_visual_investment01.jpg");}
.sub-top-visual.investment02{background-image:url("/resources/images/pc/common/sub_visual_investment02.jpg");}
.sub-top-visual.investment03{background-image:url("/resources/images/pc/common/sub_visual_investment03.jpg");}
.sub-top-visual.investment04{background-image:url("/resources/images/pc/common/sub_visual_investment04.jpg");}
.sub-top-visual.investment05{background-image:url("/resources/images/pc/common/sub_visual_investment05.jpg");}
.sub-top-visual.investment06{background-image:url("/resources/images/pc/common/sub_visual_investment06.jpg");}
.sub-top-visual.csm{background-image:url("/resources/images/pc/common/sub_visual_csm.jpg");}
.sub-top-visual.products01{background-image:url("/resources/images/pc/common/sub_visual_products01.jpg");}

.sitemap-opened #sitemap { display: block; }
.sitemap-opened .topmenu::after { content:''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff; opacity: .8; }
