
@mixin font-noto($fs: 16px, $fw: 200, $fc: $color-gray) {
  color: $fc;
  font-size: $fs;
  font-weight: $fw;
  font-family: $font-family2;
}

@mixin inner($width: 1600px) {
  position: relative;
  max-width: $width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tab-typeA {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  a { display: table-cell; border: 1px solid $color-line-light; padding: 12px 0; color: $color-gray; text-align: center; font-weight: 500; }
  a.current { background-color: $color-area-dark; border-color: $color-area-dark; color: $color-basic; }
  a.current > span { display: inline-block; border-bottom: 1px solid $color-basic; line-height: 1.2; }
  a:focus, a:hover { color: $color-red; }
  a.current:focus, a.current:hover { color: $color-basic; }
}

.tab-typeA.type01 {margin:80px 0 60px 0; }
.tab-typeA.type02 {margin-top:80px; }

.tab-typeB {
  $border-dark: #999;
  $border-light: #E5E5E5;
  position: relative;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid $border-dark;

  a { display: table-cell; padding: 11px 0; border: 1px solid $border-light; border-bottom-color: $border-dark; color: #666; text-align: center; font-weight: 500; }
  a.current { position:relative; background-color: $color-basic; border-color: $border-dark;  border-bottom-color: $color-basic;
    &:before{content:''; display:block; height:46px ; width: 1px; background-color:  $border-dark; position:absolute; left:-1px; bottom:-1px;}
    &:after{content:''; display:block; height:46px ; width: 1px; background-color:  $border-dark; position:absolute; right:-1px; bottom:-1px;}
    span{  border-bottom: 1px solid #666;}
  }
  a:focus, a:hover { color: $color-red }
}

.tab-typeC {  text-align: center; padding: 60px 0 16px;
  &.type01{padding:25px 0 0 0 ;}
  a { position:relative; display:inline-block; width: auto; color:$color-light; margin:0 20px; font-weight: 700; font-size:20px;
    &:after{content:''; display:block; width:1px; height: 20px; background:$color-light; position:absolute;left:-20px; top:3px;}
  }
  a.type01:after{ display:none;}
  a.current { color:$color-dark; border-bottom: 1px solid $color-dark;}
  a:focus, a:hover { }
}


%btn-click{
 height: 30px; line-height: 30px; border: 1px solid $color-basic; padding: 0 25px; color:$color-basic;
}

%sub-visual{
  width: 100%; background-repeat:no-repeat; background-position:50% 50%; background-size:cover; height:13.750em ;
}

.table {
  width: 100%;
  border-top: 1px solid $color-line-dark;
  border-bottom: 1px solid $color-line-dark;

  &.center {
    thead tr th,
    thead tr td,
    tbody tr th,
    tbody tr td { text-align: center;
    &.left{text-align: left;}
    }
  }

  thead {
    tr {
      th, td { height: 50px; border-bottom: 1px solid $color-line-dark; text-align: center; font-weight: 500; }
      th + th,
      td + td,
      th + td { border-left: 1px solid $color-line-light; }
    }
  }
  tbody {
    tr {
      th, td { padding: 7px 10px; border-top: 1px solid $color-line-light; line-height: 1.67;  @include font-noto(16px, 200); }
      th { background-color: $color-area-light; text-align: center; color: $color-dark; font-weight: 500; }
      td { color: $color-dark2; }
      th + th,
      th + td,
      td + td { border-left: 1px solid $color-line-light; }
      .left{text-align: left; border-left: 1px solid $color-line-light; }
      th.left{text-align: left; border-left: none; }
      .th-type01{padding:16px 0 17px 30px; }
      .pd-60{padding:17px 0 18px 60px; vertical-align: top;}
    }
    tr:first-child {
      th, td { border-top: none; }
    }
  }

  &.type02{

    &.brn{
      th:first-child,td:first-child{border-right: none;}
    }

    th:first-child,td:first-child{border-right: 1px solid $color-line-light;}
    th + th,
    td + td { border-left: none;}
    thead th{background:$color-background-gray;}
  }

  &.type02 + &.type02{margin-top:20px;}
}

body{position:relative;}
//.lpopup-wrap{position:absolute;}
.lpopup { background-color:$color-basic;
  position:absolute; display: inline-block; max-width: 740px; z-index: 10;
  border: 1px solid $color-gray2; border-radius: 4px; box-shadow: 0 0 10px rgba(35,26,9,.5);

  &.open{position:absolute; left:50px; top:365px;}

  .lpopup-head {
    border-bottom: 1px solid $color-gray2;

    h1 { padding: 13px 25px; color: $color-gray; font-size: 24px; font-weight: 500; }
  }
  .lpopup-body {
    .lpopup-inner {
      overflow:hidden; overflow-y: auto;  padding: 20px;
    }
  }
  .lpopup-foot {
    border-top: 1px solid $color-gray2;
    padding: 10px 0 0;
  }

  .lpopup-close { overflow: hidden; position: absolute; top: 0; right: 0; width: 40px; height: 40px; margin: 10px 13px; padding: 10px; text-indent: -999px;}
  .lpopup-close::before { content: ''; @include sprite($sp-btn-popup-close); position: absolute; left: 0; top: 0; margin: 10px; }

  .popup-content{padding-top:40px;
    table{
      td{@include font-noto(15px, 200);}
    }
    strong{@include font-noto(400, $color-dark); }
  }
  .popup-info01{@include font-noto(15px); line-height: 25px; padding:15px 0;}
  .popup-info02{@include font-noto(14px);  line-height: 24px; padding-top:20px;}

}

/* select box */
.select-wrap{position:absolute; right:0; top:50px;
  &.type01{top:30px;}
}
.select {display:block; position:relative; z-index:1; width: 150px; min-width:120px; text-align:left; background-color:#fff;
  &.type01{display:inline-block; margin-right:10px; width: 120px;
  > a{border-bottom:1px solid $color-gray2; border-left:none; border-right:none; border-top:none; line-height: 36px; color:$color-gray;  @include font-noto(16px, 200);}
    ul{top:37px;}
    ul li{border:1px solid  $color-gray2; border-top:0;}
    ul li a{color:$color-gray;  @include font-noto(14px, 200);}
  }

}
.select > a {display:block; overflow:hidden; padding:0 15px; @include font-noto(14px, 400); line-height:33px; font-size:14px; color:$color-dark2; text-overflow:ellipsis; white-space:nowrap; word-break:break-all; border:1px solid $color-line-dark-gray; }
.select > a:after{content:''; display:block; clear:both;  @include sprite($sp-select-down); position:absolute; right:15px; top:16px; }
.select ul {display:none; position:absolute; top:35px; left:0; width:100%; background-color:#fff;}
.select ul li {border:1px solid $color-line-dark-gray; border-top:0;}
.select ul li a {display:block; overflow:hidden; padding:2px 15px;   @include font-noto(14px, 400); color:$color-dark2; line-height:30px; text-overflow:ellipsis; white-space:nowrap; word-break:break-all;}
.select ul li a:focus,
.select ul li a:hover {color:#fff; background-color:$color-red;}

.input-checkbox{height: 35px;
  input{ border: 1px solid #000; background-color:$color-basic; margin: 0; padding:0; border-radius: 0; }
  p{text-align: right; line-height: 35px; padding-right: 25px;}
  label{font-size: 15px; color:$color-dark; vertical-align: top;}
}
