
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-size: 12px;
}

@mixin font($fs: 12px, $fw: 200, $fc: $color-basic) {
  color: $fc;
  font-size: $fs;
  font-weight: $fw;
  font-family: $font-family;
}

@mixin font-noto($fs: 12px, $fw: 200, $fc: $color-gray) {
  color: $fc;
  font-size: $fs;
  font-weight: $fw;
  font-family: $font-family2;
}

@mixin inner($pad: 10px) {
  position: relative;
  width: 100%;
  padding-left: $pad;
  padding-right: $pad;
}
.sub-title-m {
  margin: 25px auto 15px; text-align: center;
  .cts-title { @include font(1.417em, 700, $color-dark); }
  p { color: $color-gray; }
  .cts-sub-txt{ @include font(0.917em, 400, $color-dark); line-height: 1.636em; padding:12px 0 5px;
    span{  @include font(1em, 400, $color-red); }
  }
  .cts-middle-txt{ @include font(1.083em, 500, $color-dark); padding-top:10px;
    span{display:inline-block; @include font(1em, 500, $color-red); vertical-align: top;}
  }
}

.tab-typeA{display:table; table-layout: fixed; width: 100%;
  a{padding:8px 0 ; border-left:1px solid $color-line-light; ; display:table-cell; background:$color-background-light; @include font-noto(0.667em, 400, $color-basic); text-align: center;
    &.current{background:$color-background-dark;}
    &:first-child{border-left:0; }
  }
}


.tab-typeB{display:table; table-layout: fixed; width: 100%;
  margin-bottom: 20px;
  a{padding:7px 0 ; border-left:1px solid $color-line-light;  border-top:1px solid $color-line-light; border-bottom:1px solid $color-gray2; display:table-cell; background:$color-background-gray; text-align: center; color:$color-gray;
    &.current{background:$color-basic; color:$color-dark; border:1px solid $color-gray2; border-bottom: none;
      span{ border-bottom: 1px solid $color-dark; padding-top:1px; display:inline-block; font-weight: 500;}
    }
    &:first-child{border-left:0;}
  }
}

.tab-typeC{ width: 100%; table-layout: fixed; text-align: center; padding:15px 0 10px 0;
  a{display:inline-block; padding:1px 10px; position:relative;  @include font(1.042em, 700, $color-gray2);
    &.current{color: $color-dark;
      span{ border-bottom: 2px solid $color-dark;}
    }
    &:first-child:before{display:none;}
    &:before{content:''; display:block; width: 1px; height: 10px;  position:absolute; background:$color-line-light; left:-1px; top:4px;   }
  }
}

.tab-typeD{display:table; width: 100%;
  .tab-left{ display:table-cell; width: 100%; height: 30px; background:$color-background-light;  overflow-x: auto; overflow-y: hidden;
    ul{width: 167%; overflow-x: auto; overflow-y: hidden;  white-space: nowrap;
      li{float:left; width: 20%; height: 30px; border-left: 1px solid $color-basic; text-align: center;
        &:first-child{border-left:none;}
        a{ @include font-noto(0.833em, 400, $color-basic); display:block;  padding:7px 0;}
        &.current{background:$color-background-dark;}
      }
    }
  }
  .tab-right{position:relative; display:table-cell; width: 30px; height: 30px; float:right; border-left: 1px solid $color-basic;
    > a{display:block; background:$color-background-light; height: 100%; text-align: center; padding-top:8px;
      &:after{content:''; display:inline-block;  @include retina-sprite($sp-tab-type-btn-group);}

      &.on{background:$color-background-gray;
        &:after{content:''; display:inline-block;  @include retina-sprite($sp-tab-type-btn-on-group);}
      }
    }
    ul{display:none; width: 160px ; position:absolute; right:0; top:30px; border: 1px solid $color-line-light;
      li{width: 100%; background:$color-background-gray; border-top: 1px solid $color-line-light;
        &:first-child{ border-top: none;}
        a{padding:8px 15px;  @include font(1em, 400, $color-dark) ; display:block; }
        &.current a{ @include font(1em, 400, $color-red) ;}
      }
    }
  }
}

.load-more {
  display: block; margin-bottom: -30px; padding: 15px 0; border-top: 1px solid $color-gray2; background-color: $color-line-light; line-height: 0; text-indent: -9999px;
  &::after { content: ''; display: block; margin: auto; @include retina-sprite($sp-loadmore-group); text-align: center; }
}

/*상단 게시물 검색*/
.input-text{ text-align: center; width: 100%; padding-bottom:20px; margin-top:-5px;
  &.type01{margin-top:0; padding-top:30px; }

  p{ border-bottom: 1px solid #bdbdbd; width: 65%; display:inline-block;
    input{border:none; display:inline-block; width: 80%; float:left; @include font-noto(.917em, 200,$color-line-light); padding:5px; }

    button{border:none;  display:inline-block; float:right; background-color:#fff; @include retina-sprite($sp-btn-search-02-group); vertical-align:bottom; margin:5px; padding: 0; }
    input::-webkit-input-placeholder { color:$color-line-light;  }
    input::-moz-placeholder { color:$color-line-light; }
    input::-ms-input-placeholder { color:$color-line-light;  }
  }
}