/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html{
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

html, body {width:100%;height:100%;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  /*font: inherit;*/
  vertical-align: middle;
  font-family: $font-family;
  text-decoration: none;
  box-sizing: border-box; /* Opera/IE 8+ */
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari, Chrome et al */
  -moz-box-sizing: border-box; /* Firefox */
}

legend, caption, .blind{position:absolute; left:-9999px; top:0; overflow:hidden; line-height:0.1%; font-size:0.1%; width:0.1%; height:0.1%;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.4;
}
ol, ul {
  list-style: none;
  box-sizing:border-box;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {cursor:pointer;display:inline-block;}
button {cursor:pointer;border:0; font-family: $font-family;}

input, textarea, select {font-family: $font-family;word-break:break-all;}
input[type="password"] {
  font-family: sans-serif;
}
input[type="text"],input[type="password"],input[type="number"], textarea {
  width: 100%;
  height:100%;
  padding:6px 5px;
  font-size:16px;
  color:#444;
  vertical-align:middle;
  box-sizing: border-box; /* Opera/IE 8+ */
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari, Chrome et al */
  -moz-box-sizing: border-box; /* Firefox */
  line-height:normal;
}
input[type="checkbox"] {
  margin:0;
}
select {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
button, label {cursor:pointer;}

::selection {
  background:$color-light-red;
  color: $color-basic;
  text-shadow: none;
}
::-moz-selection {
  background:$color-light-red;
  color: $color-basic;
  text-shadow: none;
}
::-webkit-selection {
  background:$color-light-red;
  color: $color-basic;
  text-shadow: none;
}