// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-board-type01-off-name: 'sp-board-type01-off';
$sp-board-type01-off-x: 457px;
$sp-board-type01-off-y: 468px;
$sp-board-type01-off-offset-x: -457px;
$sp-board-type01-off-offset-y: -468px;
$sp-board-type01-off-width: 18px;
$sp-board-type01-off-height: 16px;
$sp-board-type01-off-total-width: 1021px;
$sp-board-type01-off-total-height: 539px;
$sp-board-type01-off-image: 'build/static/image';
$sp-board-type01-off: (457px, 468px, -457px, -468px, 18px, 16px, 1021px, 539px, 'build/static/image', 'sp-board-type01-off', );
$sp-board-type01-on-name: 'sp-board-type01-on';
$sp-board-type01-on-x: 433px;
$sp-board-type01-on-y: 468px;
$sp-board-type01-on-offset-x: -433px;
$sp-board-type01-on-offset-y: -468px;
$sp-board-type01-on-width: 18px;
$sp-board-type01-on-height: 16px;
$sp-board-type01-on-total-width: 1021px;
$sp-board-type01-on-total-height: 539px;
$sp-board-type01-on-image: 'build/static/image';
$sp-board-type01-on: (433px, 468px, -433px, -468px, 18px, 16px, 1021px, 539px, 'build/static/image', 'sp-board-type01-on', );
$sp-board-type01-name: 'sp-board-type01';
$sp-board-type01-x: 212px;
$sp-board-type01-y: 468px;
$sp-board-type01-offset-x: -212px;
$sp-board-type01-offset-y: -468px;
$sp-board-type01-width: 20px;
$sp-board-type01-height: 18px;
$sp-board-type01-total-width: 1021px;
$sp-board-type01-total-height: 539px;
$sp-board-type01-image: 'build/static/image';
$sp-board-type01: (212px, 468px, -212px, -468px, 20px, 18px, 1021px, 539px, 'build/static/image', 'sp-board-type01', );
$sp-board-type02-off-name: 'sp-board-type02-off';
$sp-board-type02-off-x: 238px;
$sp-board-type02-off-y: 468px;
$sp-board-type02-off-offset-x: -238px;
$sp-board-type02-off-offset-y: -468px;
$sp-board-type02-off-width: 20px;
$sp-board-type02-off-height: 18px;
$sp-board-type02-off-total-width: 1021px;
$sp-board-type02-off-total-height: 539px;
$sp-board-type02-off-image: 'build/static/image';
$sp-board-type02-off: (238px, 468px, -238px, -468px, 20px, 18px, 1021px, 539px, 'build/static/image', 'sp-board-type02-off', );
$sp-board-type02-on-name: 'sp-board-type02-on';
$sp-board-type02-on-x: 264px;
$sp-board-type02-on-y: 468px;
$sp-board-type02-on-offset-x: -264px;
$sp-board-type02-on-offset-y: -468px;
$sp-board-type02-on-width: 20px;
$sp-board-type02-on-height: 18px;
$sp-board-type02-on-total-width: 1021px;
$sp-board-type02-on-total-height: 539px;
$sp-board-type02-on-image: 'build/static/image';
$sp-board-type02-on: (264px, 468px, -264px, -468px, 20px, 18px, 1021px, 539px, 'build/static/image', 'sp-board-type02-on', );
$sp-btn-detail01-name: 'sp-btn-detail01';
$sp-btn-detail01-x: 943px;
$sp-btn-detail01-y: 420px;
$sp-btn-detail01-offset-x: -943px;
$sp-btn-detail01-offset-y: -420px;
$sp-btn-detail01-width: 7px;
$sp-btn-detail01-height: 9px;
$sp-btn-detail01-total-width: 1021px;
$sp-btn-detail01-total-height: 539px;
$sp-btn-detail01-image: 'build/static/image';
$sp-btn-detail01: (943px, 420px, -943px, -420px, 7px, 9px, 1021px, 539px, 'build/static/image', 'sp-btn-detail01', );
$sp-btn-detail02-name: 'sp-btn-detail02';
$sp-btn-detail02-x: 956px;
$sp-btn-detail02-y: 420px;
$sp-btn-detail02-offset-x: -956px;
$sp-btn-detail02-offset-y: -420px;
$sp-btn-detail02-width: 7px;
$sp-btn-detail02-height: 9px;
$sp-btn-detail02-total-width: 1021px;
$sp-btn-detail02-total-height: 539px;
$sp-btn-detail02-image: 'build/static/image';
$sp-btn-detail02: (956px, 420px, -956px, -420px, 7px, 9px, 1021px, 539px, 'build/static/image', 'sp-btn-detail02', );
$sp-btn-popup-close-name: 'sp-btn-popup-close';
$sp-btn-popup-close-x: 999px;
$sp-btn-popup-close-y: 371px;
$sp-btn-popup-close-offset-x: -999px;
$sp-btn-popup-close-offset-y: -371px;
$sp-btn-popup-close-width: 20px;
$sp-btn-popup-close-height: 19px;
$sp-btn-popup-close-total-width: 1021px;
$sp-btn-popup-close-total-height: 539px;
$sp-btn-popup-close-image: 'build/static/image';
$sp-btn-popup-close: (999px, 371px, -999px, -371px, 20px, 19px, 1021px, 539px, 'build/static/image', 'sp-btn-popup-close', );
$sp-btn-sitemap-close-name: 'sp-btn-sitemap-close';
$sp-btn-sitemap-close-x: 457px;
$sp-btn-sitemap-close-y: 420px;
$sp-btn-sitemap-close-offset-x: -457px;
$sp-btn-sitemap-close-offset-y: -420px;
$sp-btn-sitemap-close-width: 30px;
$sp-btn-sitemap-close-height: 29px;
$sp-btn-sitemap-close-total-width: 1021px;
$sp-btn-sitemap-close-total-height: 539px;
$sp-btn-sitemap-close-image: 'build/static/image';
$sp-btn-sitemap-close: (457px, 420px, -457px, -420px, 30px, 29px, 1021px, 539px, 'build/static/image', 'sp-btn-sitemap-close', );
$sp-btn-sitemap-name: 'sp-btn-sitemap';
$sp-btn-sitemap-x: 996px;
$sp-btn-sitemap-y: 296px;
$sp-btn-sitemap-offset-x: -996px;
$sp-btn-sitemap-offset-y: -296px;
$sp-btn-sitemap-width: 24px;
$sp-btn-sitemap-height: 18px;
$sp-btn-sitemap-total-width: 1021px;
$sp-btn-sitemap-total-height: 539px;
$sp-btn-sitemap-image: 'build/static/image';
$sp-btn-sitemap: (996px, 296px, -996px, -296px, 24px, 18px, 1021px, 539px, 'build/static/image', 'sp-btn-sitemap', );
$sp-click-filedown-name: 'sp-click-filedown';
$sp-click-filedown-x: 481px;
$sp-click-filedown-y: 468px;
$sp-click-filedown-offset-x: -481px;
$sp-click-filedown-offset-y: -468px;
$sp-click-filedown-width: 18px;
$sp-click-filedown-height: 16px;
$sp-click-filedown-total-width: 1021px;
$sp-click-filedown-total-height: 539px;
$sp-click-filedown-image: 'build/static/image';
$sp-click-filedown: (481px, 468px, -481px, -468px, 18px, 16px, 1021px, 539px, 'build/static/image', 'sp-click-filedown', );
$sp-click-btn01-name: 'sp-click_btn01';
$sp-click-btn01-x: 169px;
$sp-click-btn01-y: 512px;
$sp-click-btn01-offset-x: -169px;
$sp-click-btn01-offset-y: -512px;
$sp-click-btn01-width: 13px;
$sp-click-btn01-height: 22px;
$sp-click-btn01-total-width: 1021px;
$sp-click-btn01-total-height: 539px;
$sp-click-btn01-image: 'build/static/image';
$sp-click-btn01: (169px, 512px, -169px, -512px, 13px, 22px, 1021px, 539px, 'build/static/image', 'sp-click_btn01', );
$sp-click-btn02-name: 'sp-click_btn02';
$sp-click-btn02-x: 150px;
$sp-click-btn02-y: 512px;
$sp-click-btn02-offset-x: -150px;
$sp-click-btn02-offset-y: -512px;
$sp-click-btn02-width: 13px;
$sp-click-btn02-height: 22px;
$sp-click-btn02-total-width: 1021px;
$sp-click-btn02-total-height: 539px;
$sp-click-btn02-image: 'build/static/image';
$sp-click-btn02: (150px, 512px, -150px, -512px, 13px, 22px, 1021px, 539px, 'build/static/image', 'sp-click_btn02', );
$sp-click-btn03-name: 'sp-click_btn03';
$sp-click-btn03-x: 930px;
$sp-click-btn03-y: 420px;
$sp-click-btn03-offset-x: -930px;
$sp-click-btn03-offset-y: -420px;
$sp-click-btn03-width: 7px;
$sp-click-btn03-height: 11px;
$sp-click-btn03-total-width: 1021px;
$sp-click-btn03-total-height: 539px;
$sp-click-btn03-image: 'build/static/image';
$sp-click-btn03: (930px, 420px, -930px, -420px, 7px, 11px, 1021px, 539px, 'build/static/image', 'sp-click_btn03', );
$sp-close-btn-name: 'sp-close-btn';
$sp-close-btn-x: 186px;
$sp-close-btn-y: 468px;
$sp-close-btn-offset-x: -186px;
$sp-close-btn-offset-y: -468px;
$sp-close-btn-width: 20px;
$sp-close-btn-height: 19px;
$sp-close-btn-total-width: 1021px;
$sp-close-btn-total-height: 539px;
$sp-close-btn-image: 'build/static/image';
$sp-close-btn: (186px, 468px, -186px, -468px, 20px, 19px, 1021px, 539px, 'build/static/image', 'sp-close-btn', );
$sp-global-name: 'sp-global';
$sp-global-x: 410px;
$sp-global-y: 468px;
$sp-global-offset-x: -410px;
$sp-global-offset-y: -468px;
$sp-global-width: 17px;
$sp-global-height: 17px;
$sp-global-total-width: 1021px;
$sp-global-total-height: 539px;
$sp-global-image: 'build/static/image';
$sp-global: (410px, 468px, -410px, -468px, 17px, 17px, 1021px, 539px, 'build/static/image', 'sp-global', );
$sp-icon-address-name: 'sp-icon-address';
$sp-icon-address-x: 552px;
$sp-icon-address-y: 371px;
$sp-icon-address-offset-x: -552px;
$sp-icon-address-offset-y: -371px;
$sp-icon-address-width: 35px;
$sp-icon-address-height: 43px;
$sp-icon-address-total-width: 1021px;
$sp-icon-address-total-height: 539px;
$sp-icon-address-image: 'build/static/image';
$sp-icon-address: (552px, 371px, -552px, -371px, 35px, 43px, 1021px, 539px, 'build/static/image', 'sp-icon-address', );
$sp-icon-bus-name: 'sp-icon-bus';
$sp-icon-bus-x: 593px;
$sp-icon-bus-y: 371px;
$sp-icon-bus-offset-x: -593px;
$sp-icon-bus-offset-y: -371px;
$sp-icon-bus-width: 35px;
$sp-icon-bus-height: 43px;
$sp-icon-bus-total-width: 1021px;
$sp-icon-bus-total-height: 539px;
$sp-icon-bus-image: 'build/static/image';
$sp-icon-bus: (593px, 371px, -593px, -371px, 35px, 43px, 1021px, 539px, 'build/static/image', 'sp-icon-bus', );
$sp-icon-certificate-name: 'sp-icon-certificate';
$sp-icon-certificate-x: 526px;
$sp-icon-certificate-y: 420px;
$sp-icon-certificate-offset-x: -526px;
$sp-icon-certificate-offset-y: -420px;
$sp-icon-certificate-width: 27px;
$sp-icon-certificate-height: 28px;
$sp-icon-certificate-total-width: 1021px;
$sp-icon-certificate-total-height: 539px;
$sp-icon-certificate-image: 'build/static/image';
$sp-icon-certificate: (526px, 420px, -526px, -420px, 27px, 28px, 1021px, 539px, 'build/static/image', 'sp-icon-certificate', );
$sp-icon-download-name: 'sp-icon-download';
$sp-icon-download-x: 996px;
$sp-icon-download-y: 236px;
$sp-icon-download-offset-x: -996px;
$sp-icon-download-offset-y: -236px;
$sp-icon-download-width: 18px;
$sp-icon-download-height: 24px;
$sp-icon-download-total-width: 1021px;
$sp-icon-download-total-height: 539px;
$sp-icon-download-image: 'build/static/image';
$sp-icon-download: (996px, 236px, -996px, -236px, 18px, 24px, 1021px, 539px, 'build/static/image', 'sp-icon-download', );
$sp-icon-download02-name: 'sp-icon-download02';
$sp-icon-download02-x: 869px;
$sp-icon-download02-y: 420px;
$sp-icon-download02-offset-x: -869px;
$sp-icon-download02-offset-y: -420px;
$sp-icon-download02-width: 16px;
$sp-icon-download02-height: 14px;
$sp-icon-download02-total-width: 1021px;
$sp-icon-download02-total-height: 539px;
$sp-icon-download02-image: 'build/static/image';
$sp-icon-download02: (869px, 420px, -869px, -420px, 16px, 14px, 1021px, 539px, 'build/static/image', 'sp-icon-download02', );
$sp-icon-file-name: 'sp-icon-file';
$sp-icon-file-x: 996px;
$sp-icon-file-y: 266px;
$sp-icon-file-offset-x: -996px;
$sp-icon-file-offset-y: -266px;
$sp-icon-file-width: 18px;
$sp-icon-file-height: 24px;
$sp-icon-file-total-width: 1021px;
$sp-icon-file-total-height: 539px;
$sp-icon-file-image: 'build/static/image';
$sp-icon-file: (996px, 266px, -996px, -266px, 18px, 24px, 1021px, 539px, 'build/static/image', 'sp-icon-file', );
$sp-icon-map-name: 'sp-icon-map';
$sp-icon-map-x: 493px;
$sp-icon-map-y: 420px;
$sp-icon-map-offset-x: -493px;
$sp-icon-map-offset-y: -420px;
$sp-icon-map-width: 27px;
$sp-icon-map-height: 28px;
$sp-icon-map-total-width: 1021px;
$sp-icon-map-total-height: 539px;
$sp-icon-map-image: 'build/static/image';
$sp-icon-map: (493px, 420px, -493px, -420px, 27px, 28px, 1021px, 539px, 'build/static/image', 'sp-icon-map', );
$sp-icon-news-click-name: 'sp-icon-news-click';
$sp-icon-news-click-x: 828px;
$sp-icon-news-click-y: 352px;
$sp-icon-news-click-offset-x: -828px;
$sp-icon-news-click-offset-y: -352px;
$sp-icon-news-click-width: 13px;
$sp-icon-news-click-height: 11px;
$sp-icon-news-click-total-width: 1021px;
$sp-icon-news-click-total-height: 539px;
$sp-icon-news-click-image: 'build/static/image';
$sp-icon-news-click: (828px, 352px, -828px, -352px, 13px, 11px, 1021px, 539px, 'build/static/image', 'sp-icon-news-click', );
$sp-icon-print-name: 'sp-icon-print';
$sp-icon-print-x: 996px;
$sp-icon-print-y: 186px;
$sp-icon-print-offset-x: -996px;
$sp-icon-print-offset-y: -186px;
$sp-icon-print-width: 22px;
$sp-icon-print-height: 20px;
$sp-icon-print-total-width: 1021px;
$sp-icon-print-total-height: 539px;
$sp-icon-print-image: 'build/static/image';
$sp-icon-print: (996px, 186px, -996px, -186px, 22px, 20px, 1021px, 539px, 'build/static/image', 'sp-icon-print', );
$sp-icon-scroll-name: 'sp-icon-scroll';
$sp-icon-scroll-x: 457px;
$sp-icon-scroll-y: 352px;
$sp-icon-scroll-offset-x: -457px;
$sp-icon-scroll-offset-y: -352px;
$sp-icon-scroll-width: 89px;
$sp-icon-scroll-height: 62px;
$sp-icon-scroll-total-width: 1021px;
$sp-icon-scroll-total-height: 539px;
$sp-icon-scroll-image: 'build/static/image';
$sp-icon-scroll: (457px, 352px, -457px, -352px, 89px, 62px, 1021px, 539px, 'build/static/image', 'sp-icon-scroll', );
$sp-icon-share-name: 'sp-icon-share';
$sp-icon-share-x: 996px;
$sp-icon-share-y: 320px;
$sp-icon-share-offset-x: -996px;
$sp-icon-share-offset-y: -320px;
$sp-icon-share-width: 20px;
$sp-icon-share-height: 20px;
$sp-icon-share-total-width: 1021px;
$sp-icon-share-total-height: 539px;
$sp-icon-share-image: 'build/static/image';
$sp-icon-share: (996px, 320px, -996px, -320px, 20px, 20px, 1021px, 539px, 'build/static/image', 'sp-icon-share', );
$sp-icon-subway-name: 'sp-icon-subway';
$sp-icon-subway-x: 634px;
$sp-icon-subway-y: 371px;
$sp-icon-subway-offset-x: -634px;
$sp-icon-subway-offset-y: -371px;
$sp-icon-subway-width: 35px;
$sp-icon-subway-height: 43px;
$sp-icon-subway-total-width: 1021px;
$sp-icon-subway-total-height: 539px;
$sp-icon-subway-image: 'build/static/image';
$sp-icon-subway: (634px, 371px, -634px, -371px, 35px, 43px, 1021px, 539px, 'build/static/image', 'sp-icon-subway', );
$sp-icon-train-name: 'sp-icon-train';
$sp-icon-train-x: 150px;
$sp-icon-train-y: 468px;
$sp-icon-train-offset-x: -150px;
$sp-icon-train-offset-y: -468px;
$sp-icon-train-width: 30px;
$sp-icon-train-height: 38px;
$sp-icon-train-total-width: 1021px;
$sp-icon-train-total-height: 539px;
$sp-icon-train-image: 'build/static/image';
$sp-icon-train: (150px, 468px, -150px, -468px, 30px, 38px, 1021px, 539px, 'build/static/image', 'sp-icon-train', );
$sp-lg-way04-01-name: 'sp-lg-way04-01';
$sp-lg-way04-01-x: 0px;
$sp-lg-way04-01-y: 186px;
$sp-lg-way04-01-offset-x: 0px;
$sp-lg-way04-01-offset-y: -186px;
$sp-lg-way04-01-width: 160px;
$sp-lg-way04-01-height: 160px;
$sp-lg-way04-01-total-width: 1021px;
$sp-lg-way04-01-total-height: 539px;
$sp-lg-way04-01-image: 'build/static/image';
$sp-lg-way04-01: (0px, 186px, 0px, -186px, 160px, 160px, 1021px, 539px, 'build/static/image', 'sp-lg-way04-01', );
$sp-lg-way04-02-name: 'sp-lg-way04-02';
$sp-lg-way04-02-x: 830px;
$sp-lg-way04-02-y: 186px;
$sp-lg-way04-02-offset-x: -830px;
$sp-lg-way04-02-offset-y: -186px;
$sp-lg-way04-02-width: 160px;
$sp-lg-way04-02-height: 160px;
$sp-lg-way04-02-total-width: 1021px;
$sp-lg-way04-02-total-height: 539px;
$sp-lg-way04-02-image: 'build/static/image';
$sp-lg-way04-02: (830px, 186px, -830px, -186px, 160px, 160px, 1021px, 539px, 'build/static/image', 'sp-lg-way04-02', );
$sp-lg-way04-03-name: 'sp-lg-way04-03';
$sp-lg-way04-03-x: 664px;
$sp-lg-way04-03-y: 186px;
$sp-lg-way04-03-offset-x: -664px;
$sp-lg-way04-03-offset-y: -186px;
$sp-lg-way04-03-width: 160px;
$sp-lg-way04-03-height: 160px;
$sp-lg-way04-03-total-width: 1021px;
$sp-lg-way04-03-total-height: 539px;
$sp-lg-way04-03-image: 'build/static/image';
$sp-lg-way04-03: (664px, 186px, -664px, -186px, 160px, 160px, 1021px, 539px, 'build/static/image', 'sp-lg-way04-03', );
$sp-lg-way04-04-name: 'sp-lg-way04-04';
$sp-lg-way04-04-x: 498px;
$sp-lg-way04-04-y: 186px;
$sp-lg-way04-04-offset-x: -498px;
$sp-lg-way04-04-offset-y: -186px;
$sp-lg-way04-04-width: 160px;
$sp-lg-way04-04-height: 160px;
$sp-lg-way04-04-total-width: 1021px;
$sp-lg-way04-04-total-height: 539px;
$sp-lg-way04-04-image: 'build/static/image';
$sp-lg-way04-04: (498px, 186px, -498px, -186px, 160px, 160px, 1021px, 539px, 'build/static/image', 'sp-lg-way04-04', );
$sp-lg-way04-05-name: 'sp-lg-way04-05';
$sp-lg-way04-05-x: 332px;
$sp-lg-way04-05-y: 186px;
$sp-lg-way04-05-offset-x: -332px;
$sp-lg-way04-05-offset-y: -186px;
$sp-lg-way04-05-width: 160px;
$sp-lg-way04-05-height: 160px;
$sp-lg-way04-05-total-width: 1021px;
$sp-lg-way04-05-total-height: 539px;
$sp-lg-way04-05-image: 'build/static/image';
$sp-lg-way04-05: (332px, 186px, -332px, -186px, 160px, 160px, 1021px, 539px, 'build/static/image', 'sp-lg-way04-05', );
$sp-lg-way04-06-name: 'sp-lg-way04-06';
$sp-lg-way04-06-x: 166px;
$sp-lg-way04-06-y: 186px;
$sp-lg-way04-06-offset-x: -166px;
$sp-lg-way04-06-offset-y: -186px;
$sp-lg-way04-06-width: 160px;
$sp-lg-way04-06-height: 160px;
$sp-lg-way04-06-total-width: 1021px;
$sp-lg-way04-06-total-height: 539px;
$sp-lg-way04-06-image: 'build/static/image';
$sp-lg-way04-06: (166px, 186px, -166px, -186px, 160px, 160px, 1021px, 539px, 'build/static/image', 'sp-lg-way04-06', );
$sp-lg-way04-arrow-name: 'sp-lg-way04-arrow';
$sp-lg-way04-arrow-x: 969px;
$sp-lg-way04-arrow-y: 420px;
$sp-lg-way04-arrow-offset-x: -969px;
$sp-lg-way04-arrow-offset-y: -420px;
$sp-lg-way04-arrow-width: 7px;
$sp-lg-way04-arrow-height: 9px;
$sp-lg-way04-arrow-total-width: 1021px;
$sp-lg-way04-arrow-total-height: 539px;
$sp-lg-way04-arrow-image: 'build/static/image';
$sp-lg-way04-arrow: (969px, 420px, -969px, -420px, 7px, 9px, 1021px, 539px, 'build/static/image', 'sp-lg-way04-arrow', );
$sp-location-icon01-name: 'sp-location-icon01';
$sp-location-icon01-x: 100px;
$sp-location-icon01-y: 468px;
$sp-location-icon01-offset-x: -100px;
$sp-location-icon01-offset-y: -468px;
$sp-location-icon01-width: 44px;
$sp-location-icon01-height: 71px;
$sp-location-icon01-total-width: 1021px;
$sp-location-icon01-total-height: 539px;
$sp-location-icon01-image: 'build/static/image';
$sp-location-icon01: (100px, 468px, -100px, -468px, 44px, 71px, 1021px, 539px, 'build/static/image', 'sp-location-icon01', );
$sp-location-icon02-name: 'sp-location-icon02';
$sp-location-icon02-x: 50px;
$sp-location-icon02-y: 468px;
$sp-location-icon02-offset-x: -50px;
$sp-location-icon02-offset-y: -468px;
$sp-location-icon02-width: 44px;
$sp-location-icon02-height: 71px;
$sp-location-icon02-total-width: 1021px;
$sp-location-icon02-total-height: 539px;
$sp-location-icon02-image: 'build/static/image';
$sp-location-icon02: (50px, 468px, -50px, -468px, 44px, 71px, 1021px, 539px, 'build/static/image', 'sp-location-icon02', );
$sp-location-icon03-name: 'sp-location-icon03';
$sp-location-icon03-x: 0px;
$sp-location-icon03-y: 468px;
$sp-location-icon03-offset-x: 0px;
$sp-location-icon03-offset-y: -468px;
$sp-location-icon03-width: 44px;
$sp-location-icon03-height: 71px;
$sp-location-icon03-total-width: 1021px;
$sp-location-icon03-total-height: 539px;
$sp-location-icon03-image: 'build/static/image';
$sp-location-icon03: (0px, 468px, 0px, -468px, 44px, 71px, 1021px, 539px, 'build/static/image', 'sp-location-icon03', );
$sp-nav-img01-name: 'sp-nav-img01';
$sp-nav-img01-x: 687px;
$sp-nav-img01-y: 420px;
$sp-nav-img01-offset-x: -687px;
$sp-nav-img01-offset-y: -420px;
$sp-nav-img01-width: 40px;
$sp-nav-img01-height: 14px;
$sp-nav-img01-total-width: 1021px;
$sp-nav-img01-total-height: 539px;
$sp-nav-img01-image: 'build/static/image';
$sp-nav-img01: (687px, 420px, -687px, -420px, 40px, 14px, 1021px, 539px, 'build/static/image', 'sp-nav-img01', );
$sp-nav-img02-name: 'sp-nav_img02';
$sp-nav-img02-x: 733px;
$sp-nav-img02-y: 420px;
$sp-nav-img02-offset-x: -733px;
$sp-nav-img02-offset-y: -420px;
$sp-nav-img02-width: 40px;
$sp-nav-img02-height: 14px;
$sp-nav-img02-total-width: 1021px;
$sp-nav-img02-total-height: 539px;
$sp-nav-img02-image: 'build/static/image';
$sp-nav-img02: (733px, 420px, -733px, -420px, 40px, 14px, 1021px, 539px, 'build/static/image', 'sp-nav_img02', );
$sp-no-result-name: 'sp-no-result';
$sp-no-result-x: 349px;
$sp-no-result-y: 352px;
$sp-no-result-offset-x: -349px;
$sp-no-result-offset-y: -352px;
$sp-no-result-width: 102px;
$sp-no-result-height: 102px;
$sp-no-result-total-width: 1021px;
$sp-no-result-total-height: 539px;
$sp-no-result-image: 'build/static/image';
$sp-no-result: (349px, 352px, -349px, -352px, 102px, 102px, 1021px, 539px, 'build/static/image', 'sp-no-result', );
$sp-path-down-dark-name: 'sp-path-down-dark';
$sp-path-down-dark-x: 918px;
$sp-path-down-dark-y: 352px;
$sp-path-down-dark-offset-x: -918px;
$sp-path-down-dark-offset-y: -352px;
$sp-path-down-dark-width: 12px;
$sp-path-down-dark-height: 7px;
$sp-path-down-dark-total-width: 1021px;
$sp-path-down-dark-total-height: 539px;
$sp-path-down-dark-image: 'build/static/image';
$sp-path-down-dark: (918px, 352px, -918px, -352px, 12px, 7px, 1021px, 539px, 'build/static/image', 'sp-path-down-dark', );
$sp-path-down-light-name: 'sp-path-down-light';
$sp-path-down-light-x: 900px;
$sp-path-down-light-y: 352px;
$sp-path-down-light-offset-x: -900px;
$sp-path-down-light-offset-y: -352px;
$sp-path-down-light-width: 12px;
$sp-path-down-light-height: 7px;
$sp-path-down-light-total-width: 1021px;
$sp-path-down-light-total-height: 539px;
$sp-path-down-light-image: 'build/static/image';
$sp-path-down-light: (900px, 352px, -900px, -352px, 12px, 7px, 1021px, 539px, 'build/static/image', 'sp-path-down-light', );
$sp-path-down-red-name: 'sp-path-down-red';
$sp-path-down-red-x: 882px;
$sp-path-down-red-y: 352px;
$sp-path-down-red-offset-x: -882px;
$sp-path-down-red-offset-y: -352px;
$sp-path-down-red-width: 12px;
$sp-path-down-red-height: 7px;
$sp-path-down-red-total-width: 1021px;
$sp-path-down-red-total-height: 539px;
$sp-path-down-red-image: 'build/static/image';
$sp-path-down-red: (882px, 352px, -882px, -352px, 12px, 7px, 1021px, 539px, 'build/static/image', 'sp-path-down-red', );
$sp-path-down-name: 'sp-path-down';
$sp-path-down-x: 954px;
$sp-path-down-y: 352px;
$sp-path-down-offset-x: -954px;
$sp-path-down-offset-y: -352px;
$sp-path-down-width: 12px;
$sp-path-down-height: 7px;
$sp-path-down-total-width: 1021px;
$sp-path-down-total-height: 539px;
$sp-path-down-image: 'build/static/image';
$sp-path-down: (954px, 352px, -954px, -352px, 12px, 7px, 1021px, 539px, 'build/static/image', 'sp-path-down', );
$sp-path-next-dark-name: 'sp-path-next-dark';
$sp-path-next-dark-x: 917px;
$sp-path-next-dark-y: 420px;
$sp-path-next-dark-offset-x: -917px;
$sp-path-next-dark-offset-y: -420px;
$sp-path-next-dark-width: 7px;
$sp-path-next-dark-height: 12px;
$sp-path-next-dark-total-width: 1021px;
$sp-path-next-dark-total-height: 539px;
$sp-path-next-dark-image: 'build/static/image';
$sp-path-next-dark: (917px, 420px, -917px, -420px, 7px, 12px, 1021px, 539px, 'build/static/image', 'sp-path-next-dark', );
$sp-path-next-on-name: 'sp-path-next-on';
$sp-path-next-on-x: 904px;
$sp-path-next-on-y: 420px;
$sp-path-next-on-offset-x: -904px;
$sp-path-next-on-offset-y: -420px;
$sp-path-next-on-width: 7px;
$sp-path-next-on-height: 12px;
$sp-path-next-on-total-width: 1021px;
$sp-path-next-on-total-height: 539px;
$sp-path-next-on-image: 'build/static/image';
$sp-path-next-on: (904px, 420px, -904px, -420px, 7px, 12px, 1021px, 539px, 'build/static/image', 'sp-path-next-on', );
$sp-path-next-name: 'sp-path-next';
$sp-path-next-x: 891px;
$sp-path-next-y: 420px;
$sp-path-next-offset-x: -891px;
$sp-path-next-offset-y: -420px;
$sp-path-next-width: 7px;
$sp-path-next-height: 12px;
$sp-path-next-total-width: 1021px;
$sp-path-next-total-height: 539px;
$sp-path-next-image: 'build/static/image';
$sp-path-next: (891px, 420px, -891px, -420px, 7px, 12px, 1021px, 539px, 'build/static/image', 'sp-path-next', );
$sp-path-up-dark-name: 'sp-path-up-dark';
$sp-path-up-dark-x: 936px;
$sp-path-up-dark-y: 352px;
$sp-path-up-dark-offset-x: -936px;
$sp-path-up-dark-offset-y: -352px;
$sp-path-up-dark-width: 12px;
$sp-path-up-dark-height: 7px;
$sp-path-up-dark-total-width: 1021px;
$sp-path-up-dark-total-height: 539px;
$sp-path-up-dark-image: 'build/static/image';
$sp-path-up-dark: (936px, 352px, -936px, -352px, 12px, 7px, 1021px, 539px, 'build/static/image', 'sp-path-up-dark', );
$sp-path-up-light-name: 'sp-path-up-light';
$sp-path-up-light-x: 864px;
$sp-path-up-light-y: 352px;
$sp-path-up-light-offset-x: -864px;
$sp-path-up-light-offset-y: -352px;
$sp-path-up-light-width: 12px;
$sp-path-up-light-height: 7px;
$sp-path-up-light-total-width: 1021px;
$sp-path-up-light-total-height: 539px;
$sp-path-up-light-image: 'build/static/image';
$sp-path-up-light: (864px, 352px, -864px, -352px, 12px, 7px, 1021px, 539px, 'build/static/image', 'sp-path-up-light', );
$sp-popup-title-deco-name: 'sp-popup-title-deco';
$sp-popup-title-deco-x: 847px;
$sp-popup-title-deco-y: 352px;
$sp-popup-title-deco-offset-x: -847px;
$sp-popup-title-deco-offset-y: -352px;
$sp-popup-title-deco-width: 11px;
$sp-popup-title-deco-height: 11px;
$sp-popup-title-deco-total-width: 1021px;
$sp-popup-title-deco-total-height: 539px;
$sp-popup-title-deco-image: 'build/static/image';
$sp-popup-title-deco: (847px, 352px, -847px, -352px, 11px, 11px, 1021px, 539px, 'build/static/image', 'sp-popup-title-deco', );
$sp-popup-mtr-bg01-name: 'sp-popup_mtr_bg01';
$sp-popup-mtr-bg01-x: 117px;
$sp-popup-mtr-bg01-y: 352px;
$sp-popup-mtr-bg01-offset-x: -117px;
$sp-popup-mtr-bg01-offset-y: -352px;
$sp-popup-mtr-bg01-width: 110px;
$sp-popup-mtr-bg01-height: 110px;
$sp-popup-mtr-bg01-total-width: 1021px;
$sp-popup-mtr-bg01-total-height: 539px;
$sp-popup-mtr-bg01-image: 'build/static/image';
$sp-popup-mtr-bg01: (117px, 352px, -117px, -352px, 110px, 110px, 1021px, 539px, 'build/static/image', 'sp-popup_mtr_bg01', );
$sp-popup-mtr-bg02-name: 'sp-popup_mtr_bg02';
$sp-popup-mtr-bg02-x: 0px;
$sp-popup-mtr-bg02-y: 352px;
$sp-popup-mtr-bg02-offset-x: 0px;
$sp-popup-mtr-bg02-offset-y: -352px;
$sp-popup-mtr-bg02-width: 111px;
$sp-popup-mtr-bg02-height: 110px;
$sp-popup-mtr-bg02-total-width: 1021px;
$sp-popup-mtr-bg02-total-height: 539px;
$sp-popup-mtr-bg02-image: 'build/static/image';
$sp-popup-mtr-bg02: (0px, 352px, 0px, -352px, 111px, 110px, 1021px, 539px, 'build/static/image', 'sp-popup_mtr_bg02', );
$sp-popup-mtr-bg03-name: 'sp-popup_mtr_bg03';
$sp-popup-mtr-bg03-x: 233px;
$sp-popup-mtr-bg03-y: 352px;
$sp-popup-mtr-bg03-offset-x: -233px;
$sp-popup-mtr-bg03-offset-y: -352px;
$sp-popup-mtr-bg03-width: 110px;
$sp-popup-mtr-bg03-height: 110px;
$sp-popup-mtr-bg03-total-width: 1021px;
$sp-popup-mtr-bg03-total-height: 539px;
$sp-popup-mtr-bg03-image: 'build/static/image';
$sp-popup-mtr-bg03: (233px, 352px, -233px, -352px, 110px, 110px, 1021px, 539px, 'build/static/image', 'sp-popup_mtr_bg03', );
$sp-popup-mtr-bg04-name: 'sp-popup_mtr_bg04';
$sp-popup-mtr-bg04-x: 927px;
$sp-popup-mtr-bg04-y: 371px;
$sp-popup-mtr-bg04-offset-x: -927px;
$sp-popup-mtr-bg04-offset-y: -371px;
$sp-popup-mtr-bg04-width: 30px;
$sp-popup-mtr-bg04-height: 30px;
$sp-popup-mtr-bg04-total-width: 1021px;
$sp-popup-mtr-bg04-total-height: 539px;
$sp-popup-mtr-bg04-image: 'build/static/image';
$sp-popup-mtr-bg04: (927px, 371px, -927px, -371px, 30px, 30px, 1021px, 539px, 'build/static/image', 'sp-popup_mtr_bg04', );
$sp-popup-mtr-bg05-name: 'sp-popup_mtr_bg05';
$sp-popup-mtr-bg05-x: 855px;
$sp-popup-mtr-bg05-y: 371px;
$sp-popup-mtr-bg05-offset-x: -855px;
$sp-popup-mtr-bg05-offset-y: -371px;
$sp-popup-mtr-bg05-width: 30px;
$sp-popup-mtr-bg05-height: 30px;
$sp-popup-mtr-bg05-total-width: 1021px;
$sp-popup-mtr-bg05-total-height: 539px;
$sp-popup-mtr-bg05-image: 'build/static/image';
$sp-popup-mtr-bg05: (855px, 371px, -855px, -371px, 30px, 30px, 1021px, 539px, 'build/static/image', 'sp-popup_mtr_bg05', );
$sp-popup-mtr-bg06-name: 'sp-popup_mtr_bg06';
$sp-popup-mtr-bg06-x: 891px;
$sp-popup-mtr-bg06-y: 371px;
$sp-popup-mtr-bg06-offset-x: -891px;
$sp-popup-mtr-bg06-offset-y: -371px;
$sp-popup-mtr-bg06-width: 30px;
$sp-popup-mtr-bg06-height: 30px;
$sp-popup-mtr-bg06-total-width: 1021px;
$sp-popup-mtr-bg06-total-height: 539px;
$sp-popup-mtr-bg06-image: 'build/static/image';
$sp-popup-mtr-bg06: (891px, 371px, -891px, -371px, 30px, 30px, 1021px, 539px, 'build/static/image', 'sp-popup_mtr_bg06', );
$sp-prd-popup-deco01-name: 'sp-prd_popup_deco01';
$sp-prd-popup-deco01-x: 552px;
$sp-prd-popup-deco01-y: 352px;
$sp-prd-popup-deco01-offset-x: -552px;
$sp-prd-popup-deco01-offset-y: -352px;
$sp-prd-popup-deco01-width: 270px;
$sp-prd-popup-deco01-height: 13px;
$sp-prd-popup-deco01-total-width: 1021px;
$sp-prd-popup-deco01-total-height: 539px;
$sp-prd-popup-deco01-image: 'build/static/image';
$sp-prd-popup-deco01: (552px, 352px, -552px, -352px, 270px, 13px, 1021px, 539px, 'build/static/image', 'sp-prd_popup_deco01', );
$sp-rnd-introduce-img01-name: 'sp-rnd-introduce-img01';
$sp-rnd-introduce-img01-x: 0px;
$sp-rnd-introduce-img01-y: 0px;
$sp-rnd-introduce-img01-offset-x: 0px;
$sp-rnd-introduce-img01-offset-y: 0px;
$sp-rnd-introduce-img01-width: 1021px;
$sp-rnd-introduce-img01-height: 180px;
$sp-rnd-introduce-img01-total-width: 1021px;
$sp-rnd-introduce-img01-total-height: 539px;
$sp-rnd-introduce-img01-image: 'build/static/image';
$sp-rnd-introduce-img01: (0px, 0px, 0px, 0px, 1021px, 180px, 1021px, 539px, 'build/static/image', 'sp-rnd-introduce-img01', );
$sp-search-name: 'sp-search';
$sp-search-x: 338px;
$sp-search-y: 468px;
$sp-search-offset-x: -338px;
$sp-search-offset-y: -468px;
$sp-search-width: 18px;
$sp-search-height: 18px;
$sp-search-total-width: 1021px;
$sp-search-total-height: 539px;
$sp-search-image: 'build/static/image';
$sp-search: (338px, 468px, -338px, -468px, 18px, 18px, 1021px, 539px, 'build/static/image', 'sp-search', );
$sp-select-down-name: 'sp-select-down';
$sp-select-down-x: 972px;
$sp-select-down-y: 352px;
$sp-select-down-offset-x: -972px;
$sp-select-down-offset-y: -352px;
$sp-select-down-width: 9px;
$sp-select-down-height: 5px;
$sp-select-down-total-width: 1021px;
$sp-select-down-total-height: 539px;
$sp-select-down-image: 'build/static/image';
$sp-select-down: (972px, 352px, -972px, -352px, 9px, 5px, 1021px, 539px, 'build/static/image', 'sp-select-down', );
$sp-sitemap-close-name: 'sp-sitemap-close';
$sp-sitemap-close-x: 963px;
$sp-sitemap-close-y: 371px;
$sp-sitemap-close-offset-x: -963px;
$sp-sitemap-close-offset-y: -371px;
$sp-sitemap-close-width: 30px;
$sp-sitemap-close-height: 29px;
$sp-sitemap-close-total-width: 1021px;
$sp-sitemap-close-total-height: 539px;
$sp-sitemap-close-image: 'build/static/image';
$sp-sitemap-close: (963px, 371px, -963px, -371px, 30px, 29px, 1021px, 539px, 'build/static/image', 'sp-sitemap-close', );
$sp-sitemap-ziin-name: 'sp-sitemap-ziin';
$sp-sitemap-ziin-x: 779px;
$sp-sitemap-ziin-y: 420px;
$sp-sitemap-ziin-offset-x: -779px;
$sp-sitemap-ziin-offset-y: -420px;
$sp-sitemap-ziin-width: 39px;
$sp-sitemap-ziin-height: 14px;
$sp-sitemap-ziin-total-width: 1021px;
$sp-sitemap-ziin-total-height: 539px;
$sp-sitemap-ziin-image: 'build/static/image';
$sp-sitemap-ziin: (779px, 420px, -779px, -420px, 39px, 14px, 1021px, 539px, 'build/static/image', 'sp-sitemap-ziin', );
$sp-sitemap-ziin02-name: 'sp-sitemap-ziin02';
$sp-sitemap-ziin02-x: 824px;
$sp-sitemap-ziin02-y: 420px;
$sp-sitemap-ziin02-offset-x: -824px;
$sp-sitemap-ziin02-offset-y: -420px;
$sp-sitemap-ziin02-width: 39px;
$sp-sitemap-ziin02-height: 14px;
$sp-sitemap-ziin02-total-width: 1021px;
$sp-sitemap-ziin02-total-height: 539px;
$sp-sitemap-ziin02-image: 'build/static/image';
$sp-sitemap-ziin02: (824px, 420px, -824px, -420px, 39px, 14px, 1021px, 539px, 'build/static/image', 'sp-sitemap-ziin02', );
$sp-sitemap-name: 'sp-sitemap';
$sp-sitemap-x: 996px;
$sp-sitemap-y: 212px;
$sp-sitemap-offset-x: -996px;
$sp-sitemap-offset-y: -212px;
$sp-sitemap-width: 24px;
$sp-sitemap-height: 18px;
$sp-sitemap-total-width: 1021px;
$sp-sitemap-total-height: 539px;
$sp-sitemap-image: 'build/static/image';
$sp-sitemap: (996px, 212px, -996px, -212px, 24px, 18px, 1021px, 539px, 'build/static/image', 'sp-sitemap', );
$sp-sns-blog-b-name: 'sp-sns-blog-b';
$sp-sns-blog-b-x: 655px;
$sp-sns-blog-b-y: 420px;
$sp-sns-blog-b-offset-x: -655px;
$sp-sns-blog-b-offset-y: -420px;
$sp-sns-blog-b-width: 26px;
$sp-sns-blog-b-height: 26px;
$sp-sns-blog-b-total-width: 1021px;
$sp-sns-blog-b-total-height: 539px;
$sp-sns-blog-b-image: 'build/static/image';
$sp-sns-blog-b: (655px, 420px, -655px, -420px, 26px, 26px, 1021px, 539px, 'build/static/image', 'sp-sns-blog-b', );
$sp-sns-blog-name: 'sp-sns-blog';
$sp-sns-blog-x: 386px;
$sp-sns-blog-y: 468px;
$sp-sns-blog-offset-x: -386px;
$sp-sns-blog-offset-y: -468px;
$sp-sns-blog-width: 18px;
$sp-sns-blog-height: 18px;
$sp-sns-blog-total-width: 1021px;
$sp-sns-blog-total-height: 539px;
$sp-sns-blog-image: 'build/static/image';
$sp-sns-blog: (386px, 468px, -386px, -468px, 18px, 18px, 1021px, 539px, 'build/static/image', 'sp-sns-blog', );
$sp-sns-fb-b-name: 'sp-sns-fb-b';
$sp-sns-fb-b-x: 559px;
$sp-sns-fb-b-y: 420px;
$sp-sns-fb-b-offset-x: -559px;
$sp-sns-fb-b-offset-y: -420px;
$sp-sns-fb-b-width: 26px;
$sp-sns-fb-b-height: 26px;
$sp-sns-fb-b-total-width: 1021px;
$sp-sns-fb-b-total-height: 539px;
$sp-sns-fb-b-image: 'build/static/image';
$sp-sns-fb-b: (559px, 420px, -559px, -420px, 26px, 26px, 1021px, 539px, 'build/static/image', 'sp-sns-fb-b', );
$sp-sns-fb-name: 'sp-sns-fb';
$sp-sns-fb-x: 314px;
$sp-sns-fb-y: 468px;
$sp-sns-fb-offset-x: -314px;
$sp-sns-fb-offset-y: -468px;
$sp-sns-fb-width: 18px;
$sp-sns-fb-height: 18px;
$sp-sns-fb-total-width: 1021px;
$sp-sns-fb-total-height: 539px;
$sp-sns-fb-image: 'build/static/image';
$sp-sns-fb: (314px, 468px, -314px, -468px, 18px, 18px, 1021px, 539px, 'build/static/image', 'sp-sns-fb', );
$sp-sns-ins-b-name: 'sp-sns-ins-b';
$sp-sns-ins-b-x: 591px;
$sp-sns-ins-b-y: 420px;
$sp-sns-ins-b-offset-x: -591px;
$sp-sns-ins-b-offset-y: -420px;
$sp-sns-ins-b-width: 26px;
$sp-sns-ins-b-height: 26px;
$sp-sns-ins-b-total-width: 1021px;
$sp-sns-ins-b-total-height: 539px;
$sp-sns-ins-b-image: 'build/static/image';
$sp-sns-ins-b: (591px, 420px, -591px, -420px, 26px, 26px, 1021px, 539px, 'build/static/image', 'sp-sns-ins-b', );
$sp-sns-ins-name: 'sp-sns-ins';
$sp-sns-ins-x: 362px;
$sp-sns-ins-y: 468px;
$sp-sns-ins-offset-x: -362px;
$sp-sns-ins-offset-y: -468px;
$sp-sns-ins-width: 18px;
$sp-sns-ins-height: 18px;
$sp-sns-ins-total-width: 1021px;
$sp-sns-ins-total-height: 539px;
$sp-sns-ins-image: 'build/static/image';
$sp-sns-ins: (362px, 468px, -362px, -468px, 18px, 18px, 1021px, 539px, 'build/static/image', 'sp-sns-ins', );
$sp-sns-yt-b-name: 'sp-sns-yt-b';
$sp-sns-yt-b-x: 623px;
$sp-sns-yt-b-y: 420px;
$sp-sns-yt-b-offset-x: -623px;
$sp-sns-yt-b-offset-y: -420px;
$sp-sns-yt-b-width: 26px;
$sp-sns-yt-b-height: 26px;
$sp-sns-yt-b-total-width: 1021px;
$sp-sns-yt-b-total-height: 539px;
$sp-sns-yt-b-image: 'build/static/image';
$sp-sns-yt-b: (623px, 420px, -623px, -420px, 26px, 26px, 1021px, 539px, 'build/static/image', 'sp-sns-yt-b', );
$sp-sns-yt-name: 'sp-sns-yt';
$sp-sns-yt-x: 290px;
$sp-sns-yt-y: 468px;
$sp-sns-yt-offset-x: -290px;
$sp-sns-yt-offset-y: -468px;
$sp-sns-yt-width: 18px;
$sp-sns-yt-height: 18px;
$sp-sns-yt-total-width: 1021px;
$sp-sns-yt-total-height: 539px;
$sp-sns-yt-image: 'build/static/image';
$sp-sns-yt: (290px, 468px, -290px, -468px, 18px, 18px, 1021px, 539px, 'build/static/image', 'sp-sns-yt', );
$sp-vision-icon01-name: 'sp-vision_icon01';
$sp-vision-icon01-x: 675px;
$sp-vision-icon01-y: 371px;
$sp-vision-icon01-offset-x: -675px;
$sp-vision-icon01-offset-y: -371px;
$sp-vision-icon01-width: 39px;
$sp-vision-icon01-height: 37px;
$sp-vision-icon01-total-width: 1021px;
$sp-vision-icon01-total-height: 539px;
$sp-vision-icon01-image: 'build/static/image';
$sp-vision-icon01: (675px, 371px, -675px, -371px, 39px, 37px, 1021px, 539px, 'build/static/image', 'sp-vision_icon01', );
$sp-vision-icon02-name: 'sp-vision_icon02';
$sp-vision-icon02-x: 810px;
$sp-vision-icon02-y: 371px;
$sp-vision-icon02-offset-x: -810px;
$sp-vision-icon02-offset-y: -371px;
$sp-vision-icon02-width: 39px;
$sp-vision-icon02-height: 37px;
$sp-vision-icon02-total-width: 1021px;
$sp-vision-icon02-total-height: 539px;
$sp-vision-icon02-image: 'build/static/image';
$sp-vision-icon02: (810px, 371px, -810px, -371px, 39px, 37px, 1021px, 539px, 'build/static/image', 'sp-vision_icon02', );
$sp-vision-icon03-name: 'sp-vision_icon03';
$sp-vision-icon03-x: 765px;
$sp-vision-icon03-y: 371px;
$sp-vision-icon03-offset-x: -765px;
$sp-vision-icon03-offset-y: -371px;
$sp-vision-icon03-width: 39px;
$sp-vision-icon03-height: 37px;
$sp-vision-icon03-total-width: 1021px;
$sp-vision-icon03-total-height: 539px;
$sp-vision-icon03-image: 'build/static/image';
$sp-vision-icon03: (765px, 371px, -765px, -371px, 39px, 37px, 1021px, 539px, 'build/static/image', 'sp-vision_icon03', );
$sp-vision-icon04-name: 'sp-vision_icon04';
$sp-vision-icon04-x: 720px;
$sp-vision-icon04-y: 371px;
$sp-vision-icon04-offset-x: -720px;
$sp-vision-icon04-offset-y: -371px;
$sp-vision-icon04-width: 39px;
$sp-vision-icon04-height: 37px;
$sp-vision-icon04-total-width: 1021px;
$sp-vision-icon04-total-height: 539px;
$sp-vision-icon04-image: 'build/static/image';
$sp-vision-icon04: (720px, 371px, -720px, -371px, 39px, 37px, 1021px, 539px, 'build/static/image', 'sp-vision_icon04', );
$spritesheet-width: 1021px;
$spritesheet-height: 539px;
$spritesheet-image: 'build/static/image';
$spritesheet-sprites: ($sp-board-type01-off, $sp-board-type01-on, $sp-board-type01, $sp-board-type02-off, $sp-board-type02-on, $sp-btn-detail01, $sp-btn-detail02, $sp-btn-popup-close, $sp-btn-sitemap-close, $sp-btn-sitemap, $sp-click-filedown, $sp-click-btn01, $sp-click-btn02, $sp-click-btn03, $sp-close-btn, $sp-global, $sp-icon-address, $sp-icon-bus, $sp-icon-certificate, $sp-icon-download, $sp-icon-download02, $sp-icon-file, $sp-icon-map, $sp-icon-news-click, $sp-icon-print, $sp-icon-scroll, $sp-icon-share, $sp-icon-subway, $sp-icon-train, $sp-lg-way04-01, $sp-lg-way04-02, $sp-lg-way04-03, $sp-lg-way04-04, $sp-lg-way04-05, $sp-lg-way04-06, $sp-lg-way04-arrow, $sp-location-icon01, $sp-location-icon02, $sp-location-icon03, $sp-nav-img01, $sp-nav-img02, $sp-no-result, $sp-path-down-dark, $sp-path-down-light, $sp-path-down-red, $sp-path-down, $sp-path-next-dark, $sp-path-next-on, $sp-path-next, $sp-path-up-dark, $sp-path-up-light, $sp-popup-title-deco, $sp-popup-mtr-bg01, $sp-popup-mtr-bg02, $sp-popup-mtr-bg03, $sp-popup-mtr-bg04, $sp-popup-mtr-bg05, $sp-popup-mtr-bg06, $sp-prd-popup-deco01, $sp-rnd-introduce-img01, $sp-search, $sp-select-down, $sp-sitemap-close, $sp-sitemap-ziin, $sp-sitemap-ziin02, $sp-sitemap, $sp-sns-blog-b, $sp-sns-blog, $sp-sns-fb-b, $sp-sns-fb, $sp-sns-ins-b, $sp-sns-ins, $sp-sns-yt-b, $sp-sns-yt, $sp-vision-icon01, $sp-vision-icon02, $sp-vision-icon03, $sp-vision-icon04, );
$spritesheet: (1021px, 539px, 'build/static/image', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
