/**
 * 공통 변수
 */
$font-family: 'NotoSansKR', Helvetica, Apple-Gothic, Dotum, "돋움", Gulim, "굴림";
$font-family2: 'NotoSansKR', Helvetica, Apple-Gothic, Dotum, "돋움", Gulim, "굴림";

$color-basic: #FFF;
$color-dark: #2B2B2B;
$color-dark2: #333;
$color-red: #7D000A;
$color-light-red: #A40033;
$color-gray: #666;
$color-gray2: #bdbdbd;
$color-gray3: #dedede;
$color-light: #d9d9d9;
$color-area-light: #F8F8F8;
$color-area-dark: #999999;
$color-line-light: #E5E5E5;
$color-line-dark: #2B2B2B;
$color-line-gray: #dfdfdf;
$color-line-dark-gray: #b6b6b6;
$color-icon-red: #B40D3B;
$color-icon-dark: #858585;
$color-background: #f6f6f6;
$color-background-gray: #f7f7f7;
$color-background-light: #c9c9c9;
$color-background-dark: #9f9f9f;


$pc-width: 1200px;
$max-mobile-width: 640px;
$min-mobile-width: 320px;
$mobile-width: 320px;
$footer-width: 800px;