@charset "utf-8";
@import "sprite";
@import "variables";
@import "font";
@import "normalize";
@import "modules";
@import "layout";


*:focus{ outline-color: $color-red; }

//main visual
.main-visual{width:100%;  background:#040404;
  .inner{ max-width: 1920px; height: 600px; margin: auto; }
  .images{}
  .images li{width: 100%; height: 600px; background:url("/resources/images/pc/common/main-bg1.jpg") 50% 50% no-repeat;
    .content-wrap{ width: 1200px; margin: auto; text-align: center; padding-top:240px ;}
    .title{font-size: 46px; color:#fff;}
    .sub-txt{font-size: 20px; color:#fff; padding:20px 0 30px 0 ;}
    .txt-wrap{padding-bottom:30px; }
    .btn-click{
      @extend %btn-click;
    }
  }
}

//main-side-btn
.main-side-btn{position:fixed; right:0; top:370px; z-index: 1;
  &:hover span{display:block;}
  li{width: auto; height: 35px; text-align: center; line-height: 35px; margin: 2px 0; overflow:hidden;  }
  li span{ color:rgba(189,189,189,0.4); float:right; padding-right:10px; display:none;  }
  li>a{width: 35px; height: 35px; color:rgba(255,255,255,0.4); background:rgba(51,51,51,0.4); font-size:16px; display:block; float:right; font-weight: 500; }
  li.on span{color:rgba(189,189,189,1);}
  li.on>a{background:rgba(51,51,51,0.8); color:rgba(255,255,255,1);}
}


//main news
.main-news{
  width:100%; padding-top:70px; overflow: hidden;

  /* TODO: 공통화 가능할 거 같은데.. */
  .title { font-size: 26px; color:$color-dark; text-align: center; padding-bottom: 35px; }

  .visible-news {
    max-width: 1200px;
    margin: auto; overflow:hidden; position:relative;

    &[data-animating] { overflow: visible;
      .list{height: 630px;}
      .scroll-click{display:block;}
      }

    .list {
      position:relative;
      overflow: hidden;
      height: 480px;
      transition: height 0.5s;
    }

    .list > li {
      overflow: hidden; float:left; padding:0 10px; border-right: 1px solid #e5e5e5; box-sizing:border-box;  position:relative;

      &:first-child { border-left: 1px solid #e5e5e5; }
      > a { position: relative; display: block; }

      .index { display:block; margin-left:-.7em; padding-bottom:20px; font-size: 30px; color: #e5e5e5; transition: margin .5s cubic-bezier(0.86, 0, 0.07, 1) .4s; font-weight: 700;}
      .news-title { display:block; height: 64px; font-style:normal; color: $color-dark; font-size: 18px; line-height: 1.33; }
      .date { display:block; color:$color-dark; font-size: 12px; padding-bottom: 1.66em; }
      .img-box { position: relative; background: #ddd; }
      .img-box:before { content:''; display: block; padding-bottom: 56.74%; }
      .img-box img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
      .txt{ padding-top:15px; line-height:1.71; height: 87px; @include font-noto(14px, 200); }
    }

    .list > li.on {
      .index { margin-left: 0; color: #2B2B2B }
      .news-click{display:block;}
    }
    .list > li > a::before {
      content:'';
      position: absolute; top:0; left:0;
      width: 100%; height: 100%;
      background-color: #fff; opacity: 0; z-index:1;
      transition: opacity .5s;
    }

    .list > li.dimmed > a::before {
      opacity: .8;
    }

    .news-click{display:none;  position:absolute; right:5px; bottom:5px; @include sprite($sp-icon-news-click); transition: display 2s;}
    .scroll-click{display:none; position:absolute;right:34%; bottom:55px;  @include sprite($sp-icon-scroll);}

  }

}

//main contents
.main-contents{
  width:100%; padding:80px 0; background:#f1f1f1;
  .inner{width: 1200px; margin: auto;}
  .content-list {width:100%; overflow:hidden;}
  .content-list li{float:left; position:relative; overflow:hidden; height:300px; }
  .content-list li:first-child{background:#2b2b2b;}
  .content-list li:nth-child(5){background:#000;}
  .content-list li:last-child{background:#727171;}
  .content-list li.box-p{margin:0 1.667%; }
  .content-list li.box-m{margin-top:1.667%; margin-bottom:1.667%; }
  .content-list li.box-s{width: 25%;
    a{position:absolute; left:30px; top:45px; display:block; width:90%; height: 80%;   }
    span{@include sprite($sp-click-btn01); display:block; position:absolute; right:30px; bottom:15px;}
    h3{color:#fff; font-size: 30px; font-weight: 200;
      img{ vertical-align: top; padding-top: 7px;}
    }
    p{color:#fff; font-size: 1em; padding-top:17px; font-weight: 200;}
    &:before{padding-bottom:100%; display:block; content:''; clear:both;}
    >img{width:100%; height:100%; position:absolute; left:0; top:0; transition:0.5s;}
    &:hover > img{width: 110%; height: 110%; left:50%; top:50% ; margin-left:-55% ; margin-top:-55% ;}
  }
  .content-list li.box-s:last-child{
    span{@include sprite($sp-click-btn02); display:block; position:absolute; left:0; bottom:10px;}
  }
  .content-list li.box-l{width: 46.666%;
    &:before{padding-bottom:53.575%;display:block; content:''; clear:both; }
    >img{width:100%; height:100%; position:absolute; left:0; top:0; transition:0.5s;}
    &:hover > img{width: 106%; height: 106% ; left:50%; margin-left:-53%; }
  }
}

//sub-content-layout

.sub-title-m{
  min-width:1020px; max-width:1200px; margin:75px auto 35px;
  h3.cts-title{ text-align: center;  font-size:30px ; color:$color-dark; padding-bottom:30px;  font-weight:700;
    span.strong{color:$color-red; vertical-align: top; font-size:30px ; font-weight:700;}
  }
  h3.cts-title.type02{padding-bottom:0;}
  p{text-align: center;  font-size:17px ; color:$color-dark; line-height: 30px;
    span.text-type01{ color:$color-red; vertical-align: top; font-size: 17px; }
  }
}

.sub-title-m.type02{margin-bottom:0;}
.sub-title-m.type03{margin-bottom:55px;}

.content-total-wrap{ width: 100%; background:$color-background; margin-top:-1px; border-top:1px solid $color-area-dark;}

.content-total-wrap.type01{border-top:none; margin-top:78px;
  .board-wrap .board-type03 .txt-content{padding-bottom:56px; height: auto; }
  .board-wrap .board-type03 .date {  display: none;  }
}

.content-total-wrap.type02{border-top: none; margin:0;
  .paging{padding-bottom:65px;}
}

.content-total-wrap.type03 {  border-top: 1px solid $color-line-light;  margin-top: 78px;  }


.content-wrap {  min-width: 1020px;  max-width: 1200px;  margin: auto;   clear: both; position:relative;
  &:after{content:''; display:block; clear:both;}
}

.content-wrap.type02{padding-bottom:0;
  .input-text{padding-bottom:30px}
}

.img-wrap{width: 100%;
  img{width: 100%;}
}

.img-wrap.ci{width: 100%;
  img{width: 85%;}
}

.img-wrap.type01{width: 100%; padding:25px 0 0 15px;
  img{width: auto;}
}

.img-wrap.type05{width: 100%; text-align: center; padding:30px 0 20px 0;
  img{width: auto;}
}
.ct-title{font-size: 27px; font-weight:700; color:$color-dark; padding:50px 0 15px 0;}
.ct-title.type01{padding:50px 0 0 0;}
.ct-title.type02{padding-bottom:9px;}
.ct-info-text01 {overflow:hidden;
  p{width: 49%; float:left; line-height: 25px; @include font-noto(15px, 200);  }
  p + p{ padding-left:2%; float:right;}
}

.ct-info-text02{
  p{ line-height:25px;  @include font-noto(15px, 200);  }
  .add_txt{color:$color-area-dark; display:block; padding-top:20px; line-height:24px;   @include font-noto(14px, 200); }
  .strong{color:$color-dark; display:block; padding-top:20px; font-weight: 500;
    span{color:$color-red; }
  }
}

.ct-info-text03{position:relative;
  p{ color:$color-dark; line-height:25px;  font-size: 17px;  }
  .btn-type01{position:absolute; right:0; bottom:5px;}
}

.ct-info-text04{background:$color-background-gray;  border: 1px solid $color-line-light; padding:25px 30px 30px; margin-top:20px;
  h3{font-size: 20px; font-weight: 500;}
  strong{display:block; font-size: 15px; padding: 13px 0 10px 0; font-weight: 400;}
  p{font-size: 15px; color:$color-gray; line-height: 25px;}
}

.ct-info-text04.type02{
  h3{font-size: 17px;}
  p{padding-top:10px;}
}

.ct-info-text04.type03{padding:25px 30px 25px;
  h3{padding-bottom:13px;}
  strong{padding:0;}
  strong.type02{display:inline-block; padding:10px 0 0; }
  p.type02{padding:10px 0 0;
    span{padding-left:20px; font-size: 15px; color:$color-gray; line-height: 25px; display:inline-block; }
  }
  p.type03{display:inline-block; padding:10px 0 0;}
  p.type04{padding:10px 0 10px 20px; }
}

.ct-info-text05{ padding-top:13px;
  p{ color:$color-dark; font-size: 16px;  line-height:20px;  }
  &.type01 p{color:$color-gray; line-height: 26px;}
}

//sub-content (about us)

.ct-info-box01{ overflow:hidden; margin:auto; width: 78%; padding-top:40px;
  li{display:block; float:left;  width: 32%;
    p{font-size: 14px; padding:16px 0 20px; line-height: 22px;}
    dl dt{ width: 70%; border-bottom: 1px solid $color-gray; color:$color-gray;}
    dl dd{ font-size:12px; padding:6px 0 20px;   color:$color-gray;}
  }
  li.type02{margin:0 2%;}
  li.type01 p{color:#acb693;}
  li.type02 p{color:#cb4c57;}
  li.type03 p{color:#b19c87;}

}

.ct-info-box02{width: 78%; margin: 32px auto 16px; overflow:hidden;
  dl{width: 24%; float:left; margin-left:1.25%; border: 1px solid $color-line-light; box-sizing:border-box; padding:0 16px; height:160px;
    dt{position:relative; color:#798e25; font-size:16px; font-weight:500; border-bottom: 1px solid $color-gray; height: 60px; box-sizing:border-box; padding-top:10px; margin-bottom:8px;
      span{display:block; position:absolute; right:0; bottom:8px;}
    }
    dd{font-size:12px ; color:$color-gray; position:relative; padding: 6px 0 0 8px;
      &:before{content:''; display:block; clear:both; position:absolute; left:0; top:8px; width: 2px; height: 2px; border-radius:50%; background:$color-dark;}
    }
    dt.type01 span{@include sprite($sp-vision-icon01);}
    dt.type02 span{@include sprite($sp-vision-icon02);}
    dt.type03 span{@include sprite($sp-vision-icon03);}
    dt.type04 span{@include sprite($sp-vision-icon04);}
  }
  dl:first-child{margin-left:0;}
}

.ct-dia01{text-align: center; padding:56px 0;}

p.ceo-msg{width: 52%; float:left; @include font-noto(15px, 200);  line-height:27px; padding-top:7px;}
p.ceo-sign{clear:both; font-size:20px; color:$color-dark; font-weight:700; padding-top:50px; }
div.ceo-img{width:46%; float:right; margin-left:1%; text-align:right; padding-top:7px; }

span.text-type02{display:block; font-weight:400;  color:$color-dark; font-size: 17px; padding-bottom:20px; font-family: 'LGSmartHan';}
span.text-type03{font-weight:400;  color:$color-dark; font-size: 30px; padding-right:20px;}
span.text-type04{font-weight:200;  color:$color-gray; font-size: 15px; float:right; display:inline-block; padding-top:15px;}

ul.hausys-cnt{width:100%; background-color:$color-area-light; text-align: center; padding:40px 0;
li{display:inline-block; width:24%; padding: 20px 0; vertical-align: bottom;
  .title{display:block; font-size: 18px;  color:$color-dark;}
  .num{font-style: normal; color:$color-red; font-size:40px; font-weight:500; letter-spacing: -1px;}
  .txt{font-size: 16px; color:$color-gray; padding:10px 0 0 5px; display:inline-block; }
}
}

 ul.hausys-business{  width: 100%; overflow:hidden; padding-bottom:80px;
   li{float:left; width: 32%;
    .b-title{font-weight: 500; font-size: 20px; color:$color-dark; padding:30px 0 15px 0; display:block;}
     p{ height: 184px; border-bottom: 1px solid $color-line-light; line-height: 25px;  @include font-noto(15px, 200); }
     dl dt{font-weight: 500; font-size:16px; color:$color-dark; padding: 16px 0 8px; }
     dl dd{ height:70px;   @include font-noto(14px, 200); line-height:20px; }
   }
   li.type02{margin:0 2%;}
 }

.btn-type01{
  a{position:relative; display:inline-block; background:$color-dark; color:$color-basic; text-align: center; padding:11px 66px; font-weight: 500;
    &:after{ content:''; @include sprite($sp-click-btn03); display:inline-block; margin-left: 10px; margin-top: -3px; vertical-align: middle; }
  }
}

.btn-ci-download{
  @extend .btn-type01;
  text-align: center;

  a:after{ @include sprite($sp-click-filedown); margin-top: -4px; }
}

.conBox02{display:none;}

.k-location-box{width: 100%; overflow: hidden;


  li{float:left; width: 50%; overflow: hidden; padding-top:60px;
    .img-wrap{width: 48%; float:left;
      img{width: 100%;}
    }
    .txt-box{width: 52%; padding-left:2%; float:left;
     .title{ font-size:20px; color:$color-dark; padding-bottom:20px; font-weight: 500; display:block;}
      p{line-height:25px; @include font-noto(15px, 200); }
      .text-type05{display:block; font-size: 15px; padding-top:16px; @include font-noto(15px, 200, #999); }
    }
  }
}




.o-location-box{ padding-top:48px;
  > li {margin-bottom:4px;
      h3.n-name{position:relative; background-color:$color-area-light; padding:15px 60px; border:1px solid $color-line-light;
        a{display:block; color:$color-dark; font-size: 20px; font-weight: 500;
          &:after{display:block; content:''; clear:both; position:absolute; right:55px; top:45%;  @include sprite($sp-path-up-dark);  }
        }
        span{display:inline-block; padding:2px 15px; background:$color-area-dark; color:$color-basic;   @include font-noto(14px, 400); margin-right:15px; }
        span.ir{color:$color-basic;}
        span.material{background: none; font-size:15px; color:$color-dark; padding-left:0 ;}
    }
  }

  > li {
    h3.on.n-name{border-color: $color-basic;
      a:after{display:block; content:''; clear:both; position:absolute; right:55px; top:45%;  @include sprite($sp-path-down-dark);  }
    }

    h3.on.asia {
      a{color:$color-red;
        &:after{@include sprite($sp-path-down-red); }
      }
    }
  }

  .n-info{width: 100%;
    li{  border-top: 1px solid $color-line-light; overflow:hidden;
      &:first-child{ border-top:none;}
    }
    .group-wrap{width: 15%; height: 100%; float:left; text-align: center; padding-top: 35px;
      .group{display:inline-block; }
      .txt{display:block; font-weight: 500; font-size: 16px; }
    }
    .group.type01{@include sprite($sp-location-icon01);}
    .group.type02{@include sprite($sp-location-icon02);}
    .group.type03{@include sprite($sp-location-icon03);}

    .txt-wrap{width: 85%; float:right; overflow:hidden;
      .area-name{width: 30%; height:150px; float:left; display:block; font-size: 16px; font-style:normal;  box-sizing:border-box; padding-top:60px; font-weight: 500;}
      .area-info{width: 70%; height:150px; float:left; display:block;  padding:30px; line-height: 25px; @include font-noto(15px, 200);
        .strong{display:block; font-size: 20px;  padding-bottom:15px; color:$color-dark2; font-family: $font-family; font-weight:500; }

      }
    }
  }
}

.img-wrap.type02{width: 20%; float:left; text-align: center;}
.ci-txt{width:80%; float:left;
  span{display:block;  @include font-noto(15px, 200);  }
  .line01{padding-top:16px;}
  .line02{padding-top:40px;}
  .line03{padding-top:100px;}
}

.img-wrap.type03{ text-align: center; padding-bottom:32px;
  img{width: 45%; display:inline-block; margin-left:6%;
    &:first-child{margin-left:0;}
  }

}
.img-wrap.type04{ text-align: center; padding:32px 0 64px;
  img{width: 90%;}
}

.btn-type01.type02{text-align: center;
  a{padding:12px 90px 12px 68px;}
}

.table-type01{padding-bottom:50px;
  th{  border-top: 1px solid $color-line-dark ; border-bottom: 1px solid $color-line-dark;}
  th,td{ border-left: 1px solid $color-line-light; padding:8px 16px; text-align: center; color:$color-dark2;
    &:first-child{border-left:0;}
  }
  td{ @include font-noto(16px,200); }
  tr{ border-bottom: 1px solid $color-line-light;}
}



//sub-content (pr room)

.input-text{ text-align: right; width: 100%; padding-bottom:35px;
  &.type01{padding-top:65px;
    p{ border-bottom: 1px solid $color-gray2;}
  }

  &.h-top{ text-align: left; width: 320px; background:#fff; padding:0;
    p{border-bottom:0; padding:0; width: 100%;
      &:before{content:''; display:block; width: 13px; height: 13px; background:$color-basic; position:absolute; right:15px; top:-6px;
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
        transform: rotate(45deg);  }
    }
    .btn-search{margin:10px; padding:0; @include sprite($sp-search);}
    input{outline: none; text-indent:18px;}
  }

  &.total-search{text-align: center; padding-top:80px;
    p{width: 500px;  border-bottom: 1px solid $color-gray2;
      input{color:#333;}
    }
    button{margin-right:0; float:right;}
  }
  p{ border-bottom: 1px solid $color-gray; width: 305px; display:inline-block;
    input{border:none; display:inline-block; width: 88%; float:left; @include font-noto(16px,200); }

    button{border:none; display:inline-block; @include sprite($sp-search); background-color:#fff; vertical-align:bottom; margin:9px; padding: 0; }
    input::-webkit-input-placeholder { color:$color-line-light;  }
    input::-moz-placeholder { color:$color-line-light; }
    input::-ms-input-placeholder { color:$color-line-light;  }



  }
}

.board-wrap{position:relative;
  .board{  border-top: 1px solid $color-dark; border-bottom: 1px solid  $color-dark;
    li{overflow:hidden;  border-top: 1px solid $color-line-light; background:$color-basic;
      &:first-child{border-top:none;}
      &:hover{background:$color-area-light;}
      .title{width: 85%; float:left; }
      .date{width: 15%; float:left; text-align: center; color:$color-dark2;  padding:19px 60px 19px 0;   @include font-noto(16px,200); }
      a{padding:19px 0 19px 60px;
        p{ display:block;   @include font-noto(16px,200,$color-dark2); height: 22px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; word-wrap:break-word;}
      }
      a:active p { color: $color-dark2; }
    }
  }

  .board.type01{ width:100%;
    th,td{padding:17px 15px; text-align: center; color:$color-dark2;  }
    thead{ border-bottom: 1px solid  $color-dark;
      th{padding:16px 15px; font-weight:500; font-size: 16px;}
    }
    tbody tr{border-top: 1px solid $color-line-light; height: 60px;
      &:first-child{border-top:0;}
      &:hover{background:$color-area-light;
        .btn-type04 a{background:$color-dark; color:$color-basic;}
      }
      td{ @include font-noto(16px,200); }
      span{ @include font-noto(16px,200);}
    }
    .title-txt{text-align: left;
      a{@include font-noto(16px,200,$color-dark2); display:inline-block;  height: 22px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; word-wrap:break-word;}
      &:hover a {text-decoration: underline; font-weight: 400;}
    }
    .d-day{display:inline-block; background:$color-area-dark; color:$color-basic; width:60px; height: 20px; line-height:19px; text-align: center;}
    .date{padding:0 8px;}
  }



  .btn-type01{position:absolute; right:0; bottom:0;}
  .paging{overflow:hidden; text-align: center; width: 100%; padding-top:40px;
    li{width: 26px; display:inline-block;
      a{display:block; font-size: 16px; color:$color-dark2; }
    }
    .prev,.next{width: 40px;
      a{color:$color-gray2; }
    }
    .current a{text-decoration: underline;}
  }

  .list-type{text-align: right; padding:20px 0;
    a{display:inline-block; }
    .board01{@include sprite($sp-board-type01-off);margin:1px;}
    .board02{@include sprite($sp-board-type02-off);}
    .board01.on{@include sprite($sp-board-type01-on);}
    .board02.on{@include sprite($sp-board-type02-on);}
  }

  .board-type02{
    opacity:0;
    li{background-color:$color-basic; padding:10px; overflow:hidden; margin-bottom:16px; border: 1px solid #fff;
      &:hover{border: 1px solid $color-red;}
    }
    .img{float:left; width: 24%; height: 158px;
      img{width: 100%; height: 100%;}
    }
    .txt-content{float:left; width: 61%; height: 158px; box-sizing:border-box; padding:35px 40px 40px 75px;
      .title{display:block; margin-bottom:20px;   @include font-noto(16px,400,$color-dark); overflow:hidden; height: 22px; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; word-wrap:break-word; }
      p{@include font-noto(14px,200, $color-area-dark); line-height: 22px; overflow:hidden; height: 40px; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word;}
    }
    .date{display:block; float:left; width: 15%; height: 158px; text-align: center; line-height:158px; @include font-noto(16px,200); }
    a{color:$color-dark2;}

    }

  .board-type03{
    opacity: 0;
    li{background-color:$color-basic; padding:0; overflow:hidden; margin:0 0 3em 2%; float:left; border: 1px solid #fff; width:23.5%;
      &:hover{border: 1px solid $color-red;}
      &:nth-child(4n+1){margin-left:0;}
      a{display:block; width:100%;}
    }
    .img{clear:both; width: 100%; height:160px;
      img{width: 100%; height: 100%;}
    }
    .txt-content{clear:both; width: 100%; height: 130px; box-sizing:border-box; padding:16px;
      .title{display:block; width: 100%;    @include font-noto(16px,400,$color-dark); padding-bottom:0; margin-bottom:16px; height: 44px;  overflow:hidden;  text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word;}
      p{font-size:14px;  width: 100%;   @include font-noto(14px,200,$color-area-dark); height:38px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word;  }
    }
    .date{display:block; clear:both;   @include font-noto(12px,200,$color-area-dark); width: 100%; height: 40px; text-align: left; line-height: 40px;  padding-left:14px;}
    a{color:$color-dark2;}

  }

  //pr-room tvcf
  .board-type04{ width:100%; overflow:hidden; padding-top:30px;
    a{display:block;}
    li{display:block; float:left; width:30%; background-color:$color-basic;}
    .middle{margin:0 5%;}
    .txt-wrap{width: 100%; padding:21px; }
    .title{display:block; padding-bottom:10px; @include font-noto(16px,400,$color-dark); }
    .date{display:block; @include font-noto(12px,200,$color-area-dark);}
  }

  //pr-room print ad
  .board-type05{position:relative; width:100%; padding-top:60px;

    .years-wrap{width:100%; position:absolute; right:0; top:-50px;}
    .years{width: 1200px;  height: 60px; overflow:hidden; position:relative;
      ul{ position:absolute; left:578px; top:10px; width: 2000px; clear:both;}
      li{float:left; margin-right:100px;  width:40px; height:43px; position:relative;  text-align: center;
       a{font-size: 14px; color:$color-area-dark;}
        &:after{content:''; display:block; clear:both; position:absolute; left:50%; margin-left:-3px; bottom:0; width:6px; height: 6px; border-radius: 50%; background:#bdbdbd; }
      }
      li.on a{ font-size: 26px; color:$color-dark; margin-top:-10px; margin-left:-12px;
        &:after{display:none;}
      }
    }
    .years-line{width:2000px; height: 1px; background:#bdbdbd; position:absolute; left:600px; bottom:10px;}

    .click-btn{width: 126px; overflow: hidden; position:absolute; left:50%; top:0; margin-left:-63px; z-index: 1;
      a{display:block; width:25px; font-size:25px; color:$color-dark; text-align: center; }
      a.on{color:#e7e7e7;}
      a.prev{float:left;}
      a.next{float:right;}
      .current{width: 15px; height: 15px; border: 2px solid #b7b7b7; background:$color-basic; border-radius: 50%; display:block; margin: 42px auto 0;}
    }

    ul.list{ width:100%; overflow:hidden; display:none;
      li{display:block; float:left; width:31%; margin-bottom:45px; }
      a{display:block;}
      .middle{margin:0 3.5%;}
      .title{display:block; padding:18px 0; @include font-noto(16px,400,$color-dark);  }
    }
    ul.list01{display:block;}
  }

  .popup-t-list{width: 100%; border-top: 1px solid $color-dark;  border-bottom: 1px solid $color-dark;
      thead{
        th{font-weight: 500;  height: 50px; border-bottom: 1px solid $color-dark;}
      }
      tr{ border-bottom: 1px solid $color-line-light;}
      th,td{text-align: center; vertical-align: middle; color:$color-dark;}
      td{padding:6px 0;  @include font-noto(15px,200, #333); }
      td.left{text-align: left;}
    td a{display:inline-block; margin:0 5px;}
    .certificate{ @include sprite($sp-icon-certificate); }
    .map{@include sprite($sp-icon-map);}
  }
  .popup-t-list + .paging{padding:25px 0;}
}

.board-wrap.type02{padding-bottom:48px;}

.board-wrap.type03{padding-top:0;}

.board-view-wrap{ width:100%; padding-top:32px;

  .view-top{ padding:18px 60px 18px 60px; width: 100%; overflow:hidden; border-top: 1px solid $color-dark; border-bottom: 1px solid $color-line-light; background:$color-area-light;
    .title{float:left; width:85%;   @include font-noto(16px,200); }
    .date{float:left; width:11%;   @include font-noto(16px,200);}
    .print{float:right; @include sprite($sp-icon-print); display:block; }
    .share{float:right; @include sprite($sp-icon-share); display:block; }
  }

  .view-content{ padding:20px 16px;
    .img-wrap{width:100%;
      img{width: auto;}
      img + img:last-child{float: right;}
    }
    .txt-wrap{padding:30px;   @include font-noto(16px,200);
      .strong{padding-bottom:5px; display:block;   @include font-noto(16px,400); line-height: 30px;}
      p{   @include font-noto(16px,200); line-height: 30px;}
    }

    .txt-wrap.type02{padding:32px 0;}

    .file-wrap{
      .file{ @include sprite($sp-icon-file); display:inline-block; }
      .file-name{ border-bottom: 1px solid $color-area-dark; display:inline-block;  @include font-noto(16px,200,$color-area-dark); }
      .click{ @include sprite($sp-icon-download); border-bottom: 1px solid $color-area-dark; display:inline-block; }
    }
  }

  .ltt-navigation{ border-top: 1px solid $color-dark; border-bottom: 1px solid  $color-dark; margin:32px 0 22px 0;
    p{overflow:hidden; padding: 19px 16px;
      &:first-child{border-bottom: 1px solid $color-line-light;}
    }
    .prev,.next{display:inline-block; float:left; width: 15%; text-align: center;   @include font-noto(16px,200,$color-dark2); }
    .prev:after{content:''; display:inline-block;  @include sprite($sp-path-up-light); margin-left:25px;}
    .next:after{content:''; display:inline-block;  @include sprite($sp-path-down-light); margin-left:25px;}
    .no-content{display:inline-block; float:left; width: 85%;   @include font-noto(16px,200,$color-dark2); }
    a{display:inline-block; float:left; width: 75%; @include font-noto(16px,200, $color-dark2); }
    .date{display:inline-block; float:left; width: 10%;   @include font-noto(16px,200,$color-dark2); }
  }
}

.btn-type02{text-align: right;
  &.total-search{text-align: center; padding-top:50px;}
  a{ background:$color-dark; padding:8px 45px;   @include font-noto(14px,200,$color-basic);}
}

.board-view-wrap.type01{padding-top:78px;}

.board-view-wrap.type02{padding-top:0;}

.ad-video {
  .ad-title{text-align: center; color:$color-red; font-size: 20px; padding-top:25px;}
  .video{width: 855px; height: 480px; margin:30px auto; border: 1px solid #000;
    video{width: 100%; height: 100%;}
  }
  .ad-message{line-height:28px; text-align: center; padding-bottom:40px;   @include font-noto(14px,200,$color-gray);
    .date{display:block; @include font-noto(14px,200,$color-area-dark);}
  }
}

//sub-content (careers)

.career-list{width:100%; overflow: hidden;
  li{float:left; width: 20%; margin-left:6.5%;}
  li.career-f{margin-left:0;}
  .txt{ font-size:15px; border-top: 1px solid $color-line-light; text-align: center; margin-top:40px; line-height: 25px; padding-top:5px;
    span{display:block; font-size:20px; font-weight:500;}
  }
}

.welfare-list{display:table; width: 100%; text-align: center; padding:50px 55px;
  li{display:table-cell;
    .title{display:block; font-size: 16px; padding-top:20px; font-weight: 500;}
  }
}

/* employment-process */

h5.dia-title{font-size: 20px; font-weight: 500; padding-top:40px; color:$color-dark;}
h5.dia-title.type01{padding:25px 0 20px 0; }
h5.dia-title.type02{padding:25px 0 10px 0; }
h5.dia-title.type03{padding:45px 0 15px 0; }
h5.dia-title.type04{padding:0 0 20px 7px; }
h5.dia-title.type05{padding:50px 0 20px; }
h5.dia-title.type06{padding:25px 0 0 0 ; }

.e-process{width: 100%; overflow: hidden;
  > li > ul > li{padding:38px 30px 8px 55px; }
  .process-step{float:left; width: 27%; padding-bottom:30px;
    .num{display:block; font-size: 16px; color:$color-area-dark; font-weight:500;}
    .step{display:block; font-size: 20px; color:$color-dark; font-weight:500; }
    .add-txt{font-size: 15px; color:$color-gray; }
  }
  .process-txt{float:left; width: 73%;
    strong{ @include font-noto(15px, 400, $color-gray); }
    p{ @include font-noto(15px, 200, $color-gray); line-height: 25px; padding:10px 0 20px 0;
      span{display:block; @include font-noto(15px, 200); padding:5px 0 0 10px;}
      .add-txt{display:block; @include font-noto(14px, 200, $color-area-dark); }
    }
    .m-txt-01{display:block; padding-top:28px;}
    .m-txt-02{display:block; padding-top:13px;}
  }

}

/* design-center */
.sub-detail-txt {
  margin-top:48px;
  text-align:center;
  line-height:34px;
  font-family:$font-family;
  font-size:20px;
  font-weight:400;
  strong{
    vertical-align:top;
    font-size:20px;
    font-weight:500;
  }
}

/* job introduce */
.j-introduce { padding-top: 35px;
  li ul li {  padding: 0 60px 50px  }
  li:last-child ul li{padding-bottom:0;}
}
.j-intro{
  li{width:100%; height:100px; background:$color-background; margin-bottom:20px;
    a{display:block; width:100%; position:relative; overflow:hidden;
      &:after{display:block; content:''; clear:both; position:absolute; right:55px; top:45px; @include sprite($sp-path-next-dark);}
    }
    strong{float:left; width:25%; display:block; line-height: 100px; font-size: 15px; color:$color-red; font-weight: 500;  padding-left:60px;}
    p{float:left; width:75%;  display:block; line-height: 100px; font-size: 15px; color:$color-gray; padding-right:60px;}
    p.info-txt{line-height: 25px; padding-top:25px;}
  }
}

.j-intro-txt{
  .title-type01{display:block; position:relative; padding-left:7px; font-weight: 500; font-size: 16px; color:$color-dark2; margin-top:40px;
    &:before{content:''; display:block; clear:both; position:absolute; left:0; top:8px; width:2px; height:2px; background:$color-dark2; border-radius:50%; }
  }
  .title-type02{display:block; position:relative; padding-left:7px; @include font-noto(16px, 400, $color-dark2); margin:18px 0 5px 0;
    &:before{content:''; display:block; clear:both; position:absolute; left:0; top:12px; width:4px; height:1px; background:$color-dark2; border-radius:50%;}
  }
  .txt-type01{ @include font-noto(15px, 200, $color-gray); padding-left:7px; line-height: 25px;
    span{display:block; padding-left:15px;}
  }
  .txt-type02{ display:block; @include font-noto(15px, 200, $color-gray); padding-left:7px; position:relative;  margin:15px 0; line-height: 25px;
    &:before{content:''; display:block; clear:both; position:absolute; left:0; top:12px; width:4px; height:1px; background:$color-gray; border-radius:50%;}
  }
}

/* design-ability-innovation */
.design-reserch {
  margin-top:30px;
  &:after{
    display:block; clear:both; content:"";
  }
   li {
    float:left;
    width:50%;
      strong {
        display:inline-block;
        padding-bottom:14px;
        @include font-noto(20px, 500);
      }
      p {
        line-height:25px;
        @include font-noto(15px, 200);
      }
     &.type01 {
       padding-right:22px;
     }
     &.type02 {
       padding-left:10px;
     }
  }
}

.design-innovation {
  margin-top:48px;
  margin-left:-30px;
  &:after{
    display:block; clear:both; content:"";
  }
  li {
    float:left;
    position:relative;
    width:33.333%;
    .inner {
      margin-left: 30px;
      .innovation-field {
        display: block;
        padding: 16px 0;
        font-size:20px;
        font-weight:500;
        color: $color-basic;
        text-align: center;
      }
      .wrap-img {
        display: block;
        img{
          display:block;
          width:100%;
        }
      }
      .detail-categorize{
        margin-top:11px;
        padding:23px 20px 20px;
        height:420px;
        background-color:$color-area-light;
        strong{
          display:inline-block;
          padding-bottom:12px;
          line-height:24px;
          @include font-noto(16px, 400, $color-dark);
        }
        p{
          margin-bottom:16px;
          @include font-noto(15px, 200);
          line-height:25px;
        }

      }
    }
  }
  li:after {
    display: block;
    position: absolute;
    top: 129px;
    right: -120px;
    z-index: 5;
    width: 167px;
    height: 20px;
    color:#8d744a;
    text-align:center;
    line-height:0;
    font-size:14px;
    font-weight:500;
    background:url("/resources/images/pc/about-us/ic-arrow.png") no-repeat bottom left;
    content: "Group Genius Day";
  }
  li.type02:after {
    right:-88px;
    content:"Incubating";
  }
  li.type03:after{
    display:none;
  }
  li.type01 .innovation-field{
    background:$color-line-dark;
  }
  li.type02 .innovation-field{
    background:#806d53;
  }
  li.type03 .innovation-field{
    background:$color-red;
  }
}

/* design-ability-collboration */

.designer-collaboration{
  li{
    padding:60px 0;

    &:after{
      display:block;
      clear:both;
      content:"";
    }
    &:nth-child(2n){
      background:$color-area-light;
    }
    &:nth-child(2n-1){
      background:$color-basic;
    }
    .inner{
      @extend .content-wrap;
      .designer-profile{
        float:left;
        width:298px;
        vertical-align:top;
        p{
          display:block;
          padding:16px 0 19px;
          line-height:24px;
          font-weight:500;
          color:$color-dark;
        }
        .company{
          display:block;
          line-height:25px;
          font-weight:500;
          color:#8d744a;
        }
      }
      .design-work{
        padding-left:298px;
      }
    }
  }
}

/* design-result */
.design-result{
  //padding-bottom:5px;
  margin-top:52px;
  margin-left:-21px;
  &:after{
    display:block;
    clear:both;
    content:"";
  }
  li{
    float:left;
    width:33.333%;
    margin-top:21px;
    .inner{
      position:relative;
      z-index:1;
      display:block;
      margin-left:21px;

      &:hover .txt{
        display:block;
      }
      &:focus .txt{
        display:block;
      }
    }
  }
}

.design-result li .inner .txt{
  display:none;
  position:absolute;
  top:0;
  left:0;
  z-index:10;
  width:100%;
  height:100%;
  //padding:20px;
  padding:20px 20px 20px 28px;
  color:$color-basic;
  background:rgba(0,0,0,0.75);
  .txt-title{
    display:inline-block;
    margin:6px 0 15px;
    span{
      display:inline-block;
      border-bottom:2px solid $color-basic;
      line-height:28px;
      font-weight:500;
      font-size:20px;
    }
  }
  .wrap-tag{
    display:block;
    float:right;
    clear:both;
    img{
      display:block;
      width:100%;
    }
  }
  p{
    line-height:24px;
    @include font-noto(14px, 200, $color-basic);
  }
}

/* rd-result */
.rd-result-img{
  display:block;
  font-size:0;
}
.rd-table-wrap{
  margin-bottom:23px;
  .table-title{
    padding:23px 0 16px;
    font-size:20px;
    font-weight:500;
  }
  .table {
    .task-title {
      text-align:left;
    }
    tbody tr td {padding:7px 10px;}
  }

}


/* csm-contribution01 */
.csm-contribution {
  &:after{
    display:block;
    clear:both;
    content:"";
  }
  .ct-info-text03 {
    padding-top:55px;
    //줄떨어짐.
    letter-spacing:-1px;
  }
  .csm-contribution-cont{
    float:left;
    width:50%;
    .ct-title {
      padding-bottom:27px;
    }
  }
}
/* csm-contribution02 */
.contribution_box{
  margin-top:15px;
  > div {
    &:first-child {
      margin-top:0;
    }
    margin-top:20px;
    padding:0 40px 40px;
    background:$color-background-gray;
    .dia-title {
      padding:36px 0 15px;
    }
    .txt{
      margin-left:440px;
      padding-left:30px;
      p {
        margin-bottom:20px;
        line-height:25px;
        @include font-noto(15px, 200);
      }
    }
  }
}
.contribution_box .type01 {
  .dia-title {
    padding-bottom:10px;
  }
  .wrap-img {
    float:left;
    display:block;
    padding-top:5px;
  }
  &.type01:after {
    display:block;
    clear:both;
    content:"";
  }
}

.contribution_box .type02 {
  .dia-title {
    padding-bottom:20px;
  }
  .txt-detail dt {
    padding-bottom:0;
  }
  .txt-detail + .txt-detail {
    margin-top:20px;
  }

  .wrap-video{
    padding:52px 0 10px;
    .video-title {
      text-align:center;
      line-height:24px;
      font-weight:500;
      font-size:20px;
      color:$color-red;
    }
    .video-item {
      text-align:center;
      padding:27px 0 40px;
      border-bottom:1px solid $color-line-light;
    }
    .board-wrap .paging {
      padding-top:44px;
    }
  }
}

.contribution_box .type03 {
  .dia-title {padding-bottom:26px;}
  .wrap-img {
    display:block;
    margin-bottom:15px;
    font-size:0;
    img {
      display:inline-block;
      margin-right:10px;
    }
  }
}

.video-list {
  margin-left:-20px;
  padding-top:40px;
  &:after{
    display:block;
    clear:both;
    content:"";
  }
  li {
    float:left;
    width:33.33%;
    a {
      display:block;
      margin-left:20px;
      line-height:28px;
    }
  }
}
.video-list .img-info{
  padding:12px 20px 18px;
  background-color:$color-basic;
  p{
    padding-bottom:4px;
    @include font-noto(16px, 400, $color-dark);
  }
  .date {
    @include font-noto(12px, 200, $color-area-dark);
  }
}
/* csm-contribution03~05 */
.contribution-list {
  margin-top:46px;
  .list-item {
    .wrap-img{
      float:left;
      display:block;
    }
    .txt{
      margin-left:440px;
      padding-left:30px;
      p{
        line-height:25px;
        margin-bottom:11px;
        font-size:20px;
        font-weight:500;
        color:$color-line-dark;
      }
    }
  }
  .list-item:after{
    display:block;
    clear:both;
    content:"";
  }
  .list-item + .list-item {
    margin-top:50px;
  }
}

.txt-detail {
  li, dd {
    &:before{
      display:inline-block;
      margin-right:3px;
      text-indent:-8px;
      content:"-";
    }
    line-height:25px;
    padding-left:8px;
    @include font-noto(15px, 200, $color-gray);
}
  dt{
    padding-bottom:11px;
    line-height:24px;
    @include font-noto(16px, 400, $color-dark);
  }
}
p.txt-detail{
  &:before{
    display:inline-block;
    margin-right:3px;
    text-indent:-8px;
    content:"-";
  }
  line-height:25px;
  padding-left:8px;
  @include font-noto(15px, 200, $color-gray);
}
/* csm-safe */
.organization-system {
  &:after {
    display:block;
    clear:both;
    content:"";
  }
  padding:25px 0 23px;
  margin-left:-30px;
  .system-group {
    float:left;
    width:33.33%;
    text-align:center;
    div {
    margin-left:30px;
    }
  }
}
.organization-system .group-title {
  display:block;
  height:46px;
  line-height:46px;
  background:#9fb664;
  font-size:16px;
  font-weight:500;
  color:$color-basic;
}
.organization-system .group-txt {
  li {
    position:relative;
    display:table;
    width:100%;
    height:105px;
    margin-top:10px;
    border:1px solid $color-line-light;
    background:$color-background-gray;

    .inner {
      display:table-cell;
      vertical-align:middle;
      font-size:16px;
      font-weight:500;
      line-height:28px;
      color:$color-dark;
      p {
        @include font-noto(15px, 200, $color-gray);
      }
    }
  }
  .list-one {height:220px;}
  li:before {
    display:block;
    position:absolute;
    top:-11px;
    left:50%;
    z-index:5;
    margin-left:-5px;
    width:1px;
    height:10px;
    background:$color-line-light;
    content:"";
  }
}

.regular-organization {
  padding:22px 0;
  &:after {
    display:block;
    clear:both;
    content:"";
  }
  li {
    float:left;
    width:50%;
    margin-top:25px;
    &:after {
      display:block;
      clear:both;
      content:"";
    }
    .wrap-img {
      float:left;
      padding-top:5px;
      vertical-align:middle;
    }
    .txt-detail {
      margin-left:282px;
      padding-left:20px;
    }
  }
  li:first-child, li:first-child + li {margin-top:0}
}
.organization-system.prevention {
  padding-top:34px;
  .system-group div .group-title {
    padding-left:30px;
    background:$color-dark;
    text-align:left;
    font-weight:200;
  }
  .prevention-system {
    padding:17px 7px;
    height:170px;
    background:$color-area-light;
    li {
      text-align:left;
      padding-left:9px;
      margin-bottom:10px;
      line-height:24px;
      @include font-noto(15px, 400, $color-dark);
      p{
        line-height:25px;
        @include font-noto(15px, 200);
      }
    }
    li:before{
      display:inline-block;
      text-indent:-9px;
      content:"·";
    }
  }
}
.cooperation-program {
  margin-top:18px;
  font-size:0;
  .wrap-img, .txt-detail {
    display:inline-block;
    vertical-align:top;
  }
  .wrap-img {
    display:inline-block;
    padding-top:7px;
    margin-right:26px;
  }
  .txt-detail {
    .index-style {
      padding-left:9px;
    }
    .index-style:before {
      display:inline-block;
      text-indent:-9px;
      margin-right:4px;
      content:"·";
    }
    .index-style ~ dd {margin-left:10px;}
  }
  .txt-detail + .txt-detail {margin-left:60px;}
}

/* .environment-certification */
.environment-friendly {
  margin:34px -20px 60px;
  &:after {
    display:block;
    clear:both;
    content:"";
  }
  li {
    float:left;
    width:25%;
    .inner{
      padding:36px 0 0;
      margin-left:20px;
      background:$color-background-gray;
      border:1px solid $color-line-light;
      height:237px;
      text-align:center;
      line-height:24px;
      font-weight:400;
      font-size:17px;
      color:#638213;
    }
  }
}
.environment-friendly li .inner {
  p {
    margin-top:20px;
    @include font-noto(15px, 200 , $color-gray);
    line-height:25px;
  }
  p + p {
    margin-top:0;
  }
  p + p:before {
    display:block;
    line-height:20px;
    content:"·";
  }
}

.environment-table {
  margin-bottom:22px;
  td strong {
    @include font-noto(16px, 400, $color-dark2);
  }
}
.wrap-img.inline-block {
  font-size:0;
  img {display:inline-block}
}

.environment-certification {
  margin-top:14px;
  .type02 {
    width:66.66%;
  }
  .type03 {
    height:530px;
  }
  .right{
    float:right;
  }
}
.environment-certification li .inner .txt {
  padding:26px 0 26px 30px;
  strong{
    margin-bottom:15px;
    color:$color-basic;
  }
  .txt-detail {
    dt,dd {
      color:$color-basic;
      font-size:14px;
      line-height:24px;
    }
    dd:before {
      margin-right:1px;
    }
    dt {padding:0;}
    dd + dt {padding-top:8px;}
  }
  p.txt-detail {
    color:$color-basic;
    font-size:14px;
  }
}

/* csm-quality */
.list-quality {
  border-top:1px solid $color-dark;
  border-bottom:1px solid $color-dark;
}
.list-quality li {
  border-top:1px solid $color-line-light;
  padding:35px 0 36px 0;
  &:after {
    display:block;
    clear:both;
    content:"";
  }
  &:first-child {
    border-top:none;
  }
  .quality-title {
    float:left;
    display:block;
    font-size:20px;
    font-weight:500;
    color:$color-dark2;
    vertical-align:top;
  }
  .quality-info {
    margin-left:289px;
  }
}

.quality-info{
  dl {
    padding-bottom:12px;
  }
  dt {
    line-height:26px;
    font-weight:500;
    padding-bottom:11px;
  }
  p, dd {
    line-height:25px;
    @include font-noto();
  }
  dd + dt {
    padding-top:20px;
  }
}
.quality-info .inner-list {
  margin:26px 0 0 -40px;
  padding:0 50px 5px 0;
  &:after {
    display:block;
    clear:both;
    content:"";
  }
  li {
    float:left;
    width:33.33%;
    padding:0;
    border:none;
    .inner{
      margin-left:40px;
      padding:33px 42px;
      height:355px;
      background:$color-background-gray;
      text-align:center;
    }
  }
}
.quality-info .inner-list .inner {
  strong {
    line-height:24px;
    @include font-noto(16px, 400, $color-dark);
  }
  .btn-type02 {
    padding-top:38px;
    text-align:center;
    a {
      margin-bottom:10px;
      width:140px;
      padding:8px 35px;
    }
  }
  p {
    padding-top:32px;
    @include font-noto(14px);
    line-height:22px;
  }
  p + .btn-type02 {
    padding-top:36px;
  }
}

/* lgway */
//01
ul.img-box{overflow:hidden; padding-top:14px;
  li{float:left; width:50%;}
}

.content-wrap{
  .ct-info-text03 + .ct-info-text02{padding-top:10px;}
}

.lgway_img_box01{text-align:right;
  .btn-type01{padding-top:21px;}
}

//02
.ethic-tab{margin-top:34px; padding:26px 98px 29px; border:1px solid $color-line-light; background-color:#f8f8f8;
  ul{overflow:hidden;
    li{float:left; margin-right:108px; width:262px; color:$color-gray;
      a{display:inline-block; position:relative; color:$color-gray;}
      a:hover, a:focus{color:$color-red;}
      a:active{color:$color-dark;}

    }
    li:nth-of-type(3),li:nth-of-type(6){margin-right:0;}
    li:nth-of-type(4),li:nth-of-type(5),li:nth-of-type(6){padding-top:15px;}
    li.current a{color:$color-dark;
      &:after{content:''; position:absolute; bottom:0; left:0; right:0; width:100%; height:1px; background-color:$color-dark;}
    }
  }
}

.ethic-cont-box{
  .ethic-box{display:none; padding:36px 60px 0;
    p{font-weight:500; font-size:16px; color:$color-dark;}
    dl{
      dt{padding-top:28px; font-weight:400; font-size:16px; color:$color-dark;}
      dd{padding-top:4px; font-weight:200; font-size:15px; color:$color-gray;}
    }
  }
}

//03
.lgway-program-list{margin-top:35px;
  li{overflow:hidden; padding-top:40px;
    img{float:left;}
    .program-list-cont{float:left; padding-left:30px;
      .tit{font-size:20px; font-weight:400; color:$color-dark; line-height:25px;}
      .txt{padding-top:10px; @include font-noto(15px, 200); font-size:15px; line-height:25px;}
    }
  }
  li:first-child{padding-top:0;}
}

//04
.inner-title-detail{margin-left:17px; font-size:14px; color:$color-area-dark; font-weight:400; vertical-align: baseline;
  &:after{display:inline-block; content:''; margin-left:10px; @include sprite($sp-lg-way04-arrow);}
}
.lgway-target-list{padding:13px 80px 43px;border:1px solid $color-line-light;
  ul{overflow:hidden;
    li{float:left; margin-top:37px; margin-right:87px; width:288px; font-size:16px; color:$color-dark; font-weight:400; text-align:center;
      &:before{display:block; content:''; margin:0 auto 17px;}
      &:nth-of-type(1):before{@include sprite($sp-lg-way04-01);}
      &:nth-of-type(2):before{@include sprite($sp-lg-way04-02);}
      &:nth-of-type(3):before{@include sprite($sp-lg-way04-03);}
      &:nth-of-type(4):before{@include sprite($sp-lg-way04-04);}
      &:nth-of-type(5):before{@include sprite($sp-lg-way04-05);}
      &:nth-of-type(6):before{@include sprite($sp-lg-way04-06);}
    }
    li:nth-of-type(3),li:nth-of-type(6){margin-right:0;}
  }
}
.btn-type03 a{padding:0 49px; font-size:16px; color:$color-basic; font-weight:400; background-color:$color-dark; line-height:46px;}
.lgway-target-box{text-align:center;
  .btn-type03{margin-top:20px;}
}

/* rnd-introductionofstudy */
h5.dia-title02{font-size: 26px; font-weight: 700; padding-top:55px;}
.content-total-wrap.type02{margin-top:14px; border-top:0;}
.study-dream-box{text-align:center;
  p{padding-top:57px; font-weight:500;
    span{display:block; font-size:20px; color:$color-gray; line-height:28px; font-weight: 500}
    strong{font-size:36px; color:$color-red; line-height:44px; font-weight: 500;}
  }
  .study-dream-list{display:block; width:100%; margin:36px auto 0; ;
    &:before{display:block; content:''; margin:0 auto; @include sprite($sp-rnd-introduce-img01);}
    ul{overflow:hidden; padding-bottom:65px; margin:0 40px;
      li{float:left; width:280px;}
    }
    dl{margin-top:29px;
      dt{@include font-noto(16px, 400); color:#71572a; line-height:25px;}
      dd{margin-top:11px; @include font-noto(15px, 300, $color-area-dark); line-height:25px;}
    }
  }

}
.dia-title02 + .ct-info-text02{margin-top:9px;}

/* rnd-fieldofstudy01 */
.corporate-box{
  ul{overflow:hidden; margin-top:26px;
    li{float:left; position:relative; width:33.33%; padding:0 22px;
      &:after{display:block; content:''; position:absolute; top:0; bottom:0; left:0; width:1px; height:100%; background-color:$color-line-light;}
      &:first-child:after{display:none;}
      &:first-child{padding-left:0;}
      &:last-child{padding-right:0;}
    }
  }
  dl{
    dt{font-size:20px; color:$color-dark; font-weight:500; line-height:25px;}
    dd{margin-top:12px; @include font-noto(15px, 200); line-height:25px;}
  }
}

/* rnd-fieldofstudy02 */
h5.dia-title.type02 + .ct-info-text03{margin-top:12px;}
.ct-info-text03 + .field-img-box{margin-top:26px;}
.field-img-box + .field-img-box{margin-top:10px;}
.field-img-box + h5.dia-title.type02{padding-top:47px;}
.field-img-box{display:table; padding:11px 9px; background-color:$color-background-gray;
  .field-img-img{display:table-cell;}
  .field-img-text{display:table-cell; padding:15px 20px 15px 30px;
    .tit{font-size:16px; color:$color-dark; font-weight:500; line-height:25px;}
    .txt{margin-top:8px; @include font-noto(15px, 200); line-height:25px;}
  }
}

/*investment council*/

.member-list{
  li{ width: 100%; height:200px; padding:25px 25px 20px ; border: 1px solid $color-line-gray; overflow:hidden; box-sizing: border-box; margin-bottom:20px;
    div{float:left; box-sizing: border-box;}
    .m-pic{width: 195px;}
    dl{width: 100%; overflow:hidden;
      dt{float:left; font-size: 15px; line-height: 24px; padding-bottom: 5px; color:$color-dark; font-weight: 400;}
      dd{float:left;  font-size: 15px; line-height: 24px;padding-bottom: 5px; color:$color-gray; font-weight: 200;}
    }
    .info01{width: 415px;
        dt{width:100px; }
        dd{width:315px; }
    }
    .info02{width: 535px;
        dt{width:125px; }
        dd{width:410px; }
    }
  }
}

.council-b-info{ font-size: 14px; color:$color-gray;}

/* csm-system */
.j-intro-txt.type01{padding:35px 60px;
  .title-type03{display:block; position:relative; padding-left:7px; font-weight:500; font-size:16px; color:$color-dark2; margin-top:20px;
    &.type01{margin-top:0; padding-bottom: 15px;}
  }
  .title-type03 + .txt-type01{margin-top:10px;}
}
.ct-info-text03 + .dia-title.type01{padding-top:42px;}
.dia-title.type04 + .title-type03{margin-top:0;}
.txt-type01 + .dia-title.type04 {padding-top:30px;}

/* csm-report */
.report-box{display:table; padding:60px 60px 40px;
  .report-img{display:table-cell;
    img{width:224px; height:317px; border:1px solid $color-line-light;}
  }
  .report-cont{display:table-cell; padding-left:50px; vertical-align:top;
    .txt{margin-top:10px; @include font-noto(15px, 200); color:$color-gray; line-height:25px;}
  }
}
.report-tit{font-size:26px; color:$color-dark; font-weight:700; line-height:30px;
  strong{font-size:26px; color:$color-red; font-weight:700; vertical-align:baseline;}
}
.btn-black14{display:inline-block; width:140px; background-color:#000; @include font-noto(14px, 200); color:$color-basic; line-height:36px; text-align:center;}
.report-btn{overflow:hidden; margin-top:34px;
  a{float:left;}
  a + a{margin-left:10px;}
}

.table-wrap{border-top:1px solid $color-dark;
  table{width:100%;
    tr{border-bottom:1px solid $color-line-light;
      th{padding-left:60px; height:60px; @include font-noto(16px, 200); color:$color-dark2;}
      td{overflow:hidden; padding-right:60px; height:60px;}
    }
  }
}
.table-wrap.report{
  th{text-align:left;}
  td{text-align:right;}
}
.btn-line14{display:inline-block; width:140px; border:1px solid $color-line-light; background-color:$color-basic; @include font-noto(14px, 200); color:$color-dark2; line-height:36px; text-align:center;}
.btn-down-report{overflow:hidden; float:right;
  a{float:left;}
  a + a{margin-left:10px;}
}

/* csm-green */
.philosophy-box{margin:10px 0; padding: 26px 60px 30px; background:$color-background-gray;
  ul{
    li{margin-top:9px;}
    li:first-child{margin-top:0;}
  }
  dl{display:table;
    dt{display:table-cell; position:relative; width:250px; padding-left:8px;  font-size:16px; color:$color-dark2; font-weight:500; vertical-align:top; line-height:25px;
      &:before{display:block; content:''; position:absolute; top:9px; left:0; width:2px; height:2px; background-color:$color-dark2;}
    }
    dd{display:table-cell; @include font-noto(15px, 200); color:$color-gray; vertical-align:top; line-height:25px;}
  }
}

.hidden{position:absolute; left:-9999px; top:0; overflow:hidden; line-height:0.1%; font-size:0.1%; width:0.1%; height:0.1%;}

.i-frame{width: 100%; min-height:500px;  margin-top:60px; }

h4.ct-title + .i-frame{margin-top:0;}


/*investment-inspection*/
.f-isp{ background:$color-area-light; padding:20px 115px 10px;
  dl{ width: 100%; overflow: hidden;
    dt{display:block; width: 10%; float:left; padding-bottom:10px; color:$color-dark; font-size:15px;
      &.type01{width: 13%;}
    }
    dd{display:block; width: 40%; float:left;  padding-bottom:10px; color:$color-gray; font-size:15px;
      &.type01{width: 37%;}
    }
  }
}

/*investment-financial-business*/
.pdf-fd{overflow:hidden;
  .img-wrap{width: 50%; float:left; text-align: right; padding-right:50px;
    img{width: auto;}
  }
  .file-box{ width: 50%; float:left;
    strong{display:block; font-size: 26px; padding-bottom:30px;}
    .btn-type02{text-align: left;}
    .btn-download{padding-top:180px;
      a{font-size: 14px; font-weight: 500; color:$color-dark; position:relative;
        &:after{display:block; content:'';  @include sprite($sp-path-next-dark); position:absolute; right:-15px; top:3px; }
      }
      p{@include font-noto(14px, 200); color:$color-area-dark;}
    }
  }
}

.pdf-report{width: 100%; border-top: 1px solid $color-dark; border-bottom: 1px solid $color-dark; margin-top: 50px;
  li{width: 100%; border-top: 1px solid $color-line-light; overflow:hidden; padding:12px 57px;
    &:first-child{border-top: none;}
    strong{width: 50%; height: 35px; line-height: 35px; float:left; @include font-noto(16px, 200);}
    .btn-wrap{width: 50%; float:right; text-align: right;
      a{ width: 140px; height: 35px; text-align: center; line-height: 35px; @include font-noto(14px, 200); color:$color-dark2; border: 1px solid  $color-line-light; }
    }
  }
}

/*financial-credit-rating*/

.lpopup.credit-rating{
}


/*financial-result-data*/

.board-wrap .board.financial td{padding:12px 0;
  &.title-txt a{padding-left:50px;}
}

.btn-type04{
  a{ @include font-noto(14px, 200); color:$color-dark2; border: 1px solid  $color-line-light; padding:7px 29px; background:$color-basic;}
  a + a{margin-left:10px;}
}

.data-search-box{text-align: right; padding:10px 0 30px;}

/*customers */

.add-info-txt{@include font-noto(15px, 200, $color-gray); line-height: 25px; padding-top:15px;}
.map-wrap{padding-top:60px;}
.location-info{ padding-top:20px;
  dl{ overflow: hidden; width: 100%; border-top: 1px solid $color-line-light; padding:35px 80px 35px 195px; position:relative;
    &:first-child{border-top: none;}
    &:before{content:''; display:block; position:absolute; left: 85px; top:50%; margin-top:-21px;}
    &.ad:before{@include sprite($sp-icon-address);}
    &.sw:before{@include sprite($sp-icon-subway);}
    &.bs:before{@include sprite($sp-icon-bus);}
    &.tr:before{@include sprite($sp-icon-train);}
    dt{display:block; width: 19%; font-weight: 500; line-height: 25px; float:left;}
    dd{display:block; width: 81%; @include font-noto(15px, 200, $color-gray ); line-height: 25px; float:left;}
  }
}


.p-click-box{margin-top:70px; overflow: hidden; padding:22px 90px; background:$color-background-gray; border: 1px solid $color-line-light;
  ul{float:left; width: 50%;
    a{color:$color-gray; line-height: 36px;font-weight: 500;
     &:hover{color:$color-red;}
    }
  }
}

.privacy-txt{
  h4.title-type01{padding-top:35px; font-weight:500;}
  p{  @include font-noto(15px, 200, $color-gray ); line-height: 25px;
    &.detail-txt01{padding:10px 0 25px 0;}
    &.detail-txt02{
      span{padding:5px 0 15px 10px; display:block; @include font-noto(15px, 200, $color-gray );}
    }
  }
}

.manager-list{width: 100%; overflow:hidden;
  li{float:left; width: 386px;  height: 205px; background: $color-area-light; text-align: center; @include font-noto(15px, 200, $color-gray ); line-height: 25px;
    &.mp{margin:0 21px; }
    strong{display:block; text-align: center; padding:30px 0 15px 0; font-weight: 500;}
  }
}

.hr-center-detail01{overflow:hidden; padding:50px 73px 10px 73px; background:$color-background-gray; border: 1px solid $color-line-light;
  li {  float: left;  width: 284px;  text-align: center; padding-bottom:42px;
    &.mp {  margin: 0 100px;  }
    strong{font-weight: 500; font-size: 20px; color:$color-dark; display:block; padding-top:18px;}
    span{font-weight: 500; font-size: 16px; color:$color-dark; display:block; }
    p{font-size: 14px; color:$color-gray; line-height: 24px; padding-top:10px;}
  }
}

.hr-center-detail02{padding-top:40px;
  li{width: 100%;
    &:first-child{padding-bottom:30px;}
    .img-wrap{width: 285px; display:inline-block;}
    .txt-wrap{width:600px; display:inline-block; vertical-align: top; padding-left:10px;
      strong{display:block; @include font-noto(16px, 400, $color-dark ); padding-bottom:15px;}
      p{display:block; @include font-noto(15px, 200, $color-gray ); line-height: 25px;}
    }
  }
}

/*util*/

.library-box{  width: 50%; height: 860px; float:left; padding:65px 50px; position:relative;
  h4{text-align: center; font-weight: 500; font-size: 20px; padding-bottom: 15px; }
  .btn-type02{text-align: center; padding-top:30px;}
  .j-intro-txt.type01{padding:30px 0 0 65px;
    .title-type01{margin:30px 0 10px 0;}
    .txt-type01{padding:0; margin-top:10px;}
    .txt-type02{margin:0;}
  }

  .lpopupLib{width: 400px; background-color:$color-background; padding:45px 40px; position:absolute; left:100px; bottom:100px; display: inline-block;  z-index: 10;  border: 1px solid $color-gray2;  box-shadow: 0 0 10px rgba(35,26,9,.5);
    .close{@include sprite($sp-close-btn); position:absolute; right:10px; top:10px;}
    input{border: 1px solid $color-line-light; height: 45px; text-indent: 10px; }
    .alert{text-align: center; padding-bottom:15px; color:$color-dark; font-size: 17px; line-height: 27px;}
    .btn-type05{text-align: center; padding-top:20px;
      a{display:inline-block; padding:8px 37px; @include font-noto(14px, 200, $color-basic ); background:$color-dark;
        &.cancel{background:$color-area-dark; margin-left:15px;}
      }
    }
  }
}

.search-r-txt{font-size: 20px; font-weight: 500; line-height: 28px; padding-bottom:34px; text-align: center;
  span{color:$color-red; display:inline-block; font-size: 20px; font-weight: 500; vertical-align: top;  }
}
.search-result-wrap{ border-top: 1px solid $color-area-dark ; margin-top:-1px;}
.result-list{border-top: 1px solid $color-dark; border-bottom: 1px solid $color-dark;
  &.type01{ border-bottom: 0; padding-top:15px;}

  li{border-top:1px solid $color-line-light; padding:35px 50px;
    &:first-child{border-top:0;}
    strong{@include font-noto(16px, 400, $color-dark ); padding-bottom:17px; display:block;}
    p{ @include font-noto(14px, 200, $color-area-dark ); line-height: 22px; max-height: 44px; overflow:hidden;  text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word;}
  }
}

.no-result{width: 650px; left:50%; margin-left:-300px; position:relative; padding-left:135px; padding-top:60px;
  .search-r-txt{text-align:left; padding-bottom:25px;}
  &:before{display:inline-block; content:''; @include sprite($sp-no-result); position:absolute; left:10px; top:70px; }
}

.lpopup.footer-popup{position:absolute; bottom: 250px; left:50%; margin-left:-369px;
  .lpopup-inner{padding:30px;}
  .popup-txt{@include font-noto(15px, 200, $color-gray );}
  .lpopup-head h1{ font-size:20px; }
  .anti-spam{background:$color-area-light; text-align: center; padding:20px 0; margin:20px 0 10px;  color: $color-gray; font-size: 14px; font-weight: 500;
    a{ font-size: 15px; font-weight: 200;   color: $color-gray; padding-left:25px;}
  }
}

.lpopup.notice-popup{position:absolute; top:128px; width: 740px;
  .lpopup-head h1{ font-size:20px; }
  .lpopup-body{max-height: 645px; overflow: auto;}
  .lpopup-inner{padding:35px 20px;}
  .img-wrap{padding-top:10px;}
  .popup-title{font-weight: 500; font-size: 20px; color:$color-dark;}
  .lpopup-foot{padding:0;}

}

/*products window*/

.prd-intro01{  padding-top:40px;
  a{display:block; overflow: hidden; background:$color-background; position:relative;
    .img-wrap{width: 314px; height:130px; float:left;  box-sizing: border-box;
      img{width: 100%; height: 100%;}
    }
    p{float:left; width:884px; height:130px;  padding:22px 40px; @include font-noto(15px, 200, $color-gray ); line-height: 25px;  box-sizing: border-box;
      strong{display:inline-block; font-weight: 500; color:$color-dark; vertical-align:top; margin-bottom:10px; box-sizing: border-box; height: 26px;
        span{color:$color-red; font-weight: 500;}
      }
    }
    &:hover,&:focus{
     &:after{content:''; display:block; border: 1px solid $color-red; width: 1198px; height: 128px; position:absolute; left:0; top:0; z-index: 1;}
      strong{ border-bottom: 1px solid $color-dark;}
    }
  }
}

.prd-intro02{overflow: hidden; padding-top:25px;
  .prd-img{width:315px; height: 200px; background-color:#ddd; float:left; background-repeat:no-repeat; background-size:cover; }

  &.super-save .prd-img{background-image: url("/resources/images/pc/products/window_s_1.jpg");}
  &.best01 .prd-img{background-image: url("/resources/images/pc/products/window_s_4.jpg");}
  &.best02 .prd-img{background-image: url("/resources/images/pc/products/window_s_7.jpg");}
  &.power-save .prd-img{background-image: url("/resources/images/pc/products/window_s_8.jpg");}
  &.system9 .prd-img{background-image: url("/resources/images/pc/products/window_s_13.jpg");}

  .prd-list{float:right; width: 865px;
    li{width: 100%; height: 66.5px;  border-left:1px solid $color-line-light; border-right:1px solid $color-line-light; border-bottom:1px solid $color-line-light;
      a{overflow: hidden; display:block;  padding:22px 0 22px 25px; position:relative;
        .btn-detail-view{position:absolute; right:20px; top:50%; margin-top: -10px; display:none;}
      }
      &:first-child{border-top:1px solid $color-line-light;}
      .grade{display:block; float:left; width:100px; font-weight: 500; color:#c3aa7f;}
      .line{display:block; float:left; width: 120px;
        span{display:inline-block; font-weight: 500; color:$color-gray; font-size: 18px;}
      }
      .grade span,.line span{display:inline-block; height: 20px; box-sizing: border-box; vertical-align: top;}
      p{display:block; width: 600px; height: 20px; float:right; @include font-noto(15px, 200, $color-gray ); padding-left:20px;}

      &:hover,&:focus{ background:$color-background;
        .btn-detail-view{display:block;}
        .grade,.line{color:$color-red;
          span{ border-bottom: 1px solid $color-red; color:$color-red;}
        }
      }
    }

    &.type01 li{
      .line{width:200px;}
      &:hover,&:focus{
        .grade,.line{color:$color-dark;
         span{ border-bottom: 1px solid $color-dark; color:$color-dark;}
        }
      }
    }

    &.type02 li a p{padding-left:0;}
  }
}

.prd-intro03{ padding-top:40px;
  .prd-title a{font-weight: 700; font-size: 27px; color:$color-dark; height: 37px; box-sizing: border-box;
   span{ display:inline-block; font-size: 14px; color:$color-area-dark; padding: 0 20px 0 10px; position:relative;
    &:after{display:block; content:''; @include sprite($sp-btn-detail01); position:absolute; right:0; top:50%;}
   }
    &:hover,&:focus{ border-bottom: 1px solid $color-red; color:$color-red;
      span{color:$color-red;
        &:after{ @include sprite($sp-btn-detail02);}
      }
    }
  }
p{padding-top:15px;}
}

.ct-info-text06{ padding-top:25px;
  p{font-size: 14px; color:$color-gray; background: $color-background; padding:9px 30px;
    span{font-size: 16px; font-weight: 500; color:$color-dark; padding-right:25px;}
  }
}


.prd-intro02 + .ct-info-text06{padding-top:40px;}

.btn-detail-view{display:inline-block; font-size: 14px; color:$color-red; height: 20px; position:relative; padding-right:20px; font-weight: 500;
  &:after{display:block; content:''; @include sprite($sp-btn-detail02); position:absolute; right:0; top:50%; margin-top:-5px;}
}

.lpopup.popupPrd{
  .lpopup-head h1 span{font-size: 16px; color:#c3aa7f; font-weight: 500;}
  .prd-popup-title01{font-size: 14px; padding:5px 14px; background:$color-area-light; color:$color-dark; border: 1px solid #eee; margin:34px 0 15px 0 ;}
  .prd-popup-title01.type01 {margin-top:55px;}

  .prd-popup-title02{font-size: 13px; font-weight:500; padding-bottom:15px; color:$color-gray; padding-left:15px; position:relative;
      &:before{ @include sprite($sp-popup-title-deco); display:block; content:''; position:absolute; left:0; top:2px;  }
  }
  .prd-popup-title02.type01 {margin-left:10px; margin-top:15px; padding-bottom:7px;}
  .prd-popup-cts01{font-size: 13px; color:$color-gray; line-height: 20px; padding-bottom:15px;}
  .prd-popup-cts02{ overflow:hidden; padding-top:35px;
    p{font-size: 13px;  color:$color-gray; position:relative; width: 250px; float:left;
      strong{font-size: 20px; display:block; color:$color-gray; padding:7px 0;
        span{font-size: 20px;  display:block; color:#6a9213; }
      }
      &:before{content:''; display:block;  position:absolute; left:0; top:0;  @include sprite($sp-prd_popup_deco01); }
    }
    .img-wrap{width: 415px; float:right; }
  }

  .best-color{width:100%; display:table;
    li{display:table-cell; vertical-align: top;
      &:nth-child(1){padding-right:15px;}
      &:nth-child(2){padding:0 15px; border-left:1px solid #d3d3d3; border-right:1px solid #d3d3d3;}
      &:nth-child(3){padding-left:15px;}

      strong{color:$color-dark; font-size: 15px;
        span{color:$color-area-dark; font-size: 13px; display:inline-block;}
      }
      p{font-size: 12px; color:$color-gray; padding:5px 0;}

    }
  }
}

.window_dia01{ width: 100%; text-align: center;
  li{display:inline-block; width: 270px; padding:35px 20px 25px 20px;  vertical-align: top;
    strong{display:block; text-align: left; font-size: 16px; font-weight: 500; padding-top:22px; color:$color-dark; border-bottom: 1px solid $color-gray2; padding-bottom:5px;}
    p{text-align: left; @include font-noto(15px, 200, $color-gray ); padding-top:10px; line-height: 25px;}
  }
}
.best-club{width:100%; overflow:hidden;
  li{width: 50%; height:140px; padding:20px 30px 0 30px; float:left;
    strong{display:block; width: 100%; height: 45px; line-height: 45px; padding:0; background:$color-red; color:$color-basic;
      span{display:inline-block; font-size: 27px; line-height: 45px; font-weight: 700; width:70px; text-align: center; color:$color-basic; position:relative; margin-right:15px;
        &:after{content:''; display:block; height: 23px; width: 1px; background:rgba(255,255,255,0.5); position:absolute; right:0; top:10px;}
      }
    }
    &.b01{ height: 155px;
      strong{ background:$color-area-dark; }
    }
    &.b02{ height: 155px;
      strong{ background:#8d744a; }
    }
    &.b03 strong{ background:$color-dark; }
    p{@include font-noto(15px, 200, $color-gray ); line-height: 25px; padding-top:13px;}
  }
}

.emblem-info{overflow:hidden; padding-top:20px;
  .img-wrap{width: 50%; float:left;
    img{width: auto;}
  }
  p{width: 50%; float:left; @include font-noto(15px, 200, $color-gray ); line-height: 25px; }
}

.aco-product{padding:35px 0 0;
  .material-box{padding:25px 0 0;
    .txt{font-size: 13px; color:$color-gray; padding:18px 0;}

    .info-box-wrap{ overflow:hidden;  }
    .box-img{display:inline-block; width:210px; vertical-align: top;
      p{background:#eff1f2; padding:10px;color:$color-gray; font-weight: 400; font-size: 13px;
        strong{display:block; font-size: 13px; font-weight: 700; }
      }
    }
    .box-txt{display:inline-block; padding-left:25px;vertical-align: top;
      dl dt{color:$color-dark; font-size: 13px; position:relative; padding-left:15px;
        &:before{content:''; display:block; position:absolute; left:0; top:2px;  @include sprite($sp-popup-title-deco); }
      }
      dl dd{padding-bottom:15px;

        .color{padding-top:10px;
          li{display:inline-block; width: 65px; border:0; padding:0; text-align: center; }
          .color-detail{width: 52px; height: 52px; border-radius:50%; display:inline-block; }
          .color01{background-color:$color-basic; border: 1px solid $color-line-gray;}
          .color02{background-color:#65707b;}
          .color03{background-color:#2b1a13;}
          .color04{background-color:#7e6f6f;}
          .color05{background-color:#221e1f;}
          .color06{background-color:#2d1912;}
          .color07{background-color:#aa8056;}
          .color08{background-color:#949599;}
          .color09{background-color:#532217;}
          .color10{background-color:#894322;}
          .color11{background-color:#231f20;}
          p{text-align: center; padding: 5px 0; color:$color-gray; font-size: 12px;}

        }

        .test-report{padding-top:10px;
          li{display: inline-block; width: 190px; padding:0 15px; border:0;
            strong{display:block; text-align: center; padding: 9px 0; color:$color-gray; font-size: 12px; }
            .btn-download {text-align: center;
              a{display:inline-block; padding:3px 5px 3px 20px; position:relative; @include font-noto(12px, 200, $color-gray ); border: 1px solid #b7b7b7;
                &:before{content:''; display:block; position:absolute; left:2px; top:5px;  @include sprite($sp-icon-download02);}
              }
            }
          }
        }
      }
    }
  }
}

.info-list{color:$color-gray; font-size: 13px; line-height: 20px;  position:relative; padding-left:15px;
  &:before{content:''; display:block; position:absolute; left:7px; top:8px;  width:2px; height: 2px; background:$color-dark; border-radius: 50%;}
  &.type01{margin-left:10px;}
  &.type02{margin:10px 0; font-size: 14px;}
}

.mtr-advantage01{width: 100%; text-align: center; padding:35px 0 20px 0;  border: 1px solid $color-line-light;
  li{display:inline-block; width: 31%; text-align: center; vertical-align: top;
    .icon-image{display:block; margin:auto;  @include sprite($sp-popup_mtr_bg01);
    }
    &:nth-child(2) .icon-image{@include sprite($sp-popup_mtr_bg02)}
    &:nth-child(3) .icon-image{@include sprite($sp-popup_mtr_bg03)}
    strong{display:block; font-size: 15px; font-weight: 700; padding:8px 15px; color:#94ab4f;}
    &:nth-child(2) strong{color:#febd0d;}
    &:nth-child(3) strong{color:#e85e6b;}
    p{font-size: 13px; color:$color-gray ;}
  }
}

.mtr-advantage-title{font-size: 18px; color:$color-gray; position:relative; padding-left:35px;
  &:before{content:''; display:block;  @include sprite($sp-popup_mtr_bg04); position:absolute; left:0; top:-5px;  }
  span{display:inline-block; font-size: 18px; color:#94ab4f;  }

  &.type02{
    &:before{ @include sprite($sp-popup_mtr_bg05);}
    span{color:#febd0d;}
  }
  &.type03{
    &:before{ @include sprite($sp-popup_mtr_bg06);}
    span{ color:#e85e6b;}
  }
}

.mtr-ul{
  li{display:inline-block; width: 49%; vertical-align:top; }
}


.kolas{background:$color-background; padding:25px 60px; margin:30px 0;
  .img-wrap{display:inline-block; width:24%; }
  p{display:inline-block; width:74%;  @include font-noto(15px, 200, $color-gray ); line-height: 25px;
    strong{display:block; font-size: 18px; font-weight: 500; padding-bottom:10px;
        span{display:inline-block; font-size: 18px; font-weight: 500; vertical-align: top; color:$color-red;}
    }
  }
}

.kolas-t tbody tr td{padding:20px 0 20px 50px; }

.h-btn-wrap{position:relative;
  .btn-ci-download{position:absolute; right:0; top:40px;}
}

/* 고객센터 > 개인정보취급방침
----------------------------------------*/
.privacy {padding:0 13px;}
.privacy {
  strong { font-size: .9em; }
  p, a, li { font-size: .875em; }
  a { color: #666; }
}

h2.tit{padding:29px 0px 0px 13px;height:64px}
.privacy .pri_index {overflow:hidden; width:100%; padding:25px 0; margin-top:38px; border:1px solid #d4d4d4; background:#f8f8f8;}
.privacy .pri_index ul {float:left; width:320px; padding-left:30px;}
.privacy .pri_index ul.s1 {width:265px; border-right:1px solid #e7e7e7;}
.privacy .pri_index ul li {height:23px; line-height:23px;}
.privacy .pri_index ul li.long {letter-spacing:-0.12em; }
.privacy h4 {padding:40px 0 0;}
.privacy p {margin-top:15px; line-height:20px;}
.privacy p strong {display:block; font-weight: 500;}
.privacy ul {margin-top:7px;}
.privacy ul li {margin-bottom:2px; line-height:18px;}
.privacy .mgt20 {margin-top:20px !important;}
.privacy .listwrap {overflow:hidden; width:100%;}
.privacy .listwrap div {width:338px;}
.privacy .listwrap div ul {margin-top:12px;}
.privacy {
  /* tableStyle Type5 */
  .tbs5 { overflow: hidden; margin: 15px auto; width: 80%; }
  .tbs5 table { width: 100%; margin-left: -1px; border-top: 2px solid #666; }
  .tbs5 th { background-color: #f0efee; border-bottom: 1px solid #cbcbcb; border-left: 1px solid #cbcbcb; font-size: .875em; font-weight: 500; padding: 5px 0; }
  .tbs5 td { border-bottom: solid 1px #cbcbcb; border-left: 1px solid #cbcbcb; font-size: .875em; text-align: center; padding: 5px 0; }
  .tbs5 th.last, .tbs4 td.last, .tbs4 .last td, .tbs4 .last th { border-bottom: 1px solid #666; }
  h4.tit5 { color: #587f00; font-size: 12pt; }
}

@media print{
  #container{width:100%;}
 .topmenu, header, .sub-top-visual, footer,.path{display:none;};
}